.answer-box .answer-wrap {
  position: relative; }
  .answer-box .answer-wrap .answer-head {
    width: 100%;
    height: 100%;
    box-shadow: 0 2px 6px 0 rgba(20, 14, 32, 0.02); }
    .answer-box .answer-wrap .answer-head .answer-head-cont {
      margin: 0 auto; }
      .answer-box .answer-wrap .answer-head .answer-head-cont a {
        line-height: 50px;
        color: #a4a6a7;
        font-size: 16px;
        display: block;
        float: left;
        position: relative;
        padding-right: 15px;
        margin-right: 10px; }
    .answer-box .answer-wrap .answer-head .answer-head-cont a:after {
      content: "/";
      position: absolute;
      top: 0;
      right: 0;
      color: #a4a6a7;
      font-size: 16px; }
    .answer-box .answer-wrap .answer-head .answer-head-cont > a:last-child:after {
      content: "";
      cursor: default; }
  .answer-box .answer-wrap .answer-cont {
    padding-top: 54px;
    margin: 0 auto; }
    .answer-box .answer-wrap .answer-cont .answer-cont-l {
      width: 838px; }
      .answer-box .answer-wrap .answer-cont .answer-cont-l .topic-top {
        padding-bottom: 14px;
        border-bottom: 1px solid #D9DDE1;
        margin-bottom: 20px; }
        .answer-box .answer-wrap .answer-cont .answer-cont-l .topic-top .topic-top-tit {
          color: #07111B;
          font-size: 16px;
          line-height: 16px; }
        .answer-box .answer-wrap .answer-cont .answer-cont-l .topic-top .topic-top-right .topic-time-cont {
          line-height: 16px;
          font-size: 12px;
          color: #93999f; }
          .answer-box .answer-wrap .answer-cont .answer-cont-l .topic-top .topic-top-right .topic-time-cont .t-time-num {
            color: #F01414; }
        .answer-box .answer-wrap .answer-cont .answer-cont-l .topic-top .topic-top-right .errors-but {
          line-height: 16px;
          font-size: 12px;
          color: #545C63; }
          .answer-box .answer-wrap .answer-cont .answer-cont-l .topic-top .topic-top-right .errors-but .checkbox[type=checkbox] + s {
            width: 14px;
            height: 14px;
            display: inline-block;
            background-image: url("../images/inp-check.png");
            background-repeat: no-repeat;
            background-size: 100%; }
          .answer-box .answer-wrap .answer-cont .answer-cont-l .topic-top .topic-top-right .errors-but .checkbox[type=checkbox]:checked + s {
            background-image: url("../images/inp-check-a.png"); }
          .answer-box .answer-wrap .answer-cont .answer-cont-l .topic-top .topic-top-right .errors-but .check_img {
            margin-right: 8px; }
      .answer-box .answer-wrap .answer-cont .answer-cont-l .answer-item .answer-list {
        margin-bottom: 48px; }
        .answer-box .answer-wrap .answer-cont .answer-cont-l .answer-item .answer-list .ques-stem {
          width: 838px;
          background: #f2f7f7;
          border-radius: 10px;
          padding: 10px 0; }
          .answer-box .answer-wrap .answer-cont .answer-cont-l .answer-item .answer-list .ques-stem .ques-stem-type {
            margin-left: 16px;
            padding: 0 10px;
            height: 20px;
            line-height: 18px;
            font-size: 12px;
            color: #2B99A3;
            border-radius: 10px;
            border: 1px solid #2B99A3;
            box-sizing: border-box; }
          .answer-box .answer-wrap .answer-cont .answer-cont-l .answer-item .answer-list .ques-stem .ques-line {
            color: #93999f;
            font-size: 16px;
            line-height: 14px;
            margin: 0 22px 0 12px; }
          .answer-box .answer-wrap .answer-cont .answer-cont-l .answer-item .answer-list .ques-stem .ques-stem-text {
            width: 700px;
            color: #07111B;
            font-size: 14px;
            line-height: 20px; }
        .answer-box .answer-wrap .answer-cont .answer-cont-l .answer-item .answer-list .ques-option-item {
          margin-top: 24px;
          margin-left: 114px; }
          .answer-box .answer-wrap .answer-cont .answer-cont-l .answer-item .answer-list .ques-option-item .ques-option-list {
            cursor: pointer;
            margin-bottom: 20px;
            position: relative; }
            .answer-box .answer-wrap .answer-cont .answer-cont-l .answer-item .answer-list .ques-option-item .ques-option-list .list-inp {
              position: absolute;
              top: 0;
              left: -15px;
              opacity: 0; }
            .answer-box .answer-wrap .answer-cont .answer-cont-l .answer-item .answer-list .ques-option-item .ques-option-list .ques-option-num {
              width: 26px;
              height: 26px;
              line-height: 24px;
              text-align: center;
              box-sizing: border-box;
              border: 1px solid #707B89;
              color: #545C63;
              border-radius: 50%;
              font-size: 14px;
              float: left; }
            .answer-box .answer-wrap .answer-cont .answer-cont-l .answer-item .answer-list .ques-option-item .ques-option-list .option-num-a {
              color: #ffffff;
              background: #81D8D0;
              border: 1px solid #81D8D0; }
            .answer-box .answer-wrap .answer-cont .answer-cont-l .answer-item .answer-list .ques-option-item .ques-option-list .ques-option-text {
              line-height: 26px;
              font-size: 14px;
              color: #545C63;
              margin-left: 35px; }
              .answer-box .answer-wrap .answer-cont .answer-cont-l .answer-item .answer-list .ques-option-item .ques-option-list .ques-option-text img {
                max-width: 100%;
                display: block; }
            .answer-box .answer-wrap .answer-cont .answer-cont-l .answer-item .answer-list .ques-option-item .ques-option-list .option-text-a {
              color: #07111B; }
        .answer-box .answer-wrap .answer-cont .answer-cont-l .answer-item .answer-list .analysis-wrap .analysis-cont {
          float: right;
          width: 758px;
          border-top: 1px solid #D9DDE1;
          padding-top: 20px;
          margin-top: 10px; }
          .answer-box .answer-wrap .answer-cont .answer-cont-l .answer-item .answer-list .analysis-wrap .analysis-cont .analysis-mlr {
            margin: 0 15px 0 36px; }
            .answer-box .answer-wrap .answer-cont .answer-cont-l .answer-item .answer-list .analysis-wrap .analysis-cont .analysis-mlr .ana-top {
              font-size: 14px; }
              .answer-box .answer-wrap .answer-cont .answer-cont-l .answer-item .answer-list .analysis-wrap .analysis-cont .analysis-mlr .ana-top .right-cl {
                color: #4DC762; }
              .answer-box .answer-wrap .answer-cont .answer-cont-l .answer-item .answer-list .analysis-wrap .analysis-cont .analysis-mlr .ana-top .error-cl {
                color: #FF5D46; }
              .answer-box .answer-wrap .answer-cont .answer-cont-l .answer-item .answer-list .analysis-wrap .analysis-cont .analysis-mlr .ana-top .ana-t-cont {
                font-size: 12px;
                color: #545C63;
                cursor: pointer; }
                .answer-box .answer-wrap .answer-cont .answer-cont-l .answer-item .answer-list .analysis-wrap .analysis-cont .analysis-mlr .ana-top .ana-t-cont img {
                  width: 12px;
                  margin-left: 6px;
                  transition: linear .2s; }
            .answer-box .answer-wrap .answer-cont .answer-cont-l .answer-item .answer-list .analysis-wrap .analysis-cont .analysis-mlr .analysis-text-cont {
              font-size: 12px;
              line-height: 18px;
              color: #545C63;
              margin-top: 20px; }
              .answer-box .answer-wrap .answer-cont .answer-cont-l .answer-item .answer-list .analysis-wrap .analysis-cont .analysis-mlr .analysis-text-cont img {
                max-width: 100%; }
    .answer-box .answer-wrap .answer-cont .answer-cont-r {
      width: 320px;
      position: relative; }
      .answer-box .answer-wrap .answer-cont .answer-cont-r .answer-sheet-cont {
        width: 320px;
        border-radius: 10px;
        position: fixed;
        top: 176px;
        box-shadow: 0px 2px 6px 0px rgba(20, 14, 32, 0.02); }
        .answer-box .answer-wrap .answer-cont .answer-cont-r .answer-sheet-cont .cart-cont {
          padding: 21px 0 24px 0;
          margin: 0 30px; }
          .answer-box .answer-wrap .answer-cont .answer-cont-r .answer-sheet-cont .cart-cont .cart-top .cart-tit {
            margin-right: 12px;
            font-size: 14px;
            color: #07111B; }
          .answer-box .answer-wrap .answer-cont .answer-cont-r .answer-sheet-cont .cart-cont .cart-top .cart-num {
            font-size: 12px;
            color: #93999f; }
          .answer-box .answer-wrap .answer-cont .answer-cont-r .answer-sheet-cont .cart-cont .answer-num-cont {
            margin: 20px 4px 0 4px;
            padding-bottom: 12px;
            border-bottom: 1px solid #D9DDE1; }
            .answer-box .answer-wrap .answer-cont .answer-cont-r .answer-sheet-cont .cart-cont .answer-num-cont .answer-num-item {
              margin-left: -18px; }
              .answer-box .answer-wrap .answer-cont .answer-cont-r .answer-sheet-cont .cart-cont .answer-num-cont .answer-num-item li {
                width: 36px;
                height: 36px;
                font-size: 16px;
                line-height: 34px;
                float: left;
                text-align: center;
                border: 1px solid #D9DDE1;
                box-sizing: border-box;
                color: #93999f;
                border-radius: 10px;
                margin-left: 18px;
                margin-bottom: 18px; }
              .answer-box .answer-wrap .answer-cont .answer-cont-r .answer-sheet-cont .cart-cont .answer-num-cont .answer-num-item .num-li-a {
                color: #ffffff;
                background: #9ca0a4;
                border: 1px solid #9ca0a4; }
          .answer-box .answer-wrap .answer-cont .answer-cont-r .answer-sheet-cont .cart-cont .answer-sub {
            display: block;
            width: 120px;
            height: 36px;
            text-align: center;
            line-height: 36px;
            border-radius: 18px;
            font-size: 14px;
            color: #ffffff;
            margin-top: 25px; }
.answer-box .answer-pop {
  width: 440px;
  position: absolute;
  top: 300px;
  left: 500px;
  border-radius: 10px;
  z-index: 99; }
  .answer-box .answer-pop .answer-pop-h {
    width: 440px;
    height: 182px;
    display: block;
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative; }
    .answer-box .answer-pop .answer-pop-h .pop-h-cont {
      width: 400px;
      padding-top: 21px;
      padding-bottom: 8px;
      border-radius: 10px 10px 0 0;
      position: absolute;
      top: 20px;
      left: 20px; }
      .answer-box .answer-pop .answer-pop-h .pop-h-cont .pop-tit-cont {
        font-size: 14px;
        color: #07111B;
        padding-left: 20px;
        margin-bottom: 15px; }
        .answer-box .answer-pop .answer-pop-h .pop-h-cont .pop-tit-cont .tit-cont-name {
          margin-left: 15px;
          font-size: 12px;
          color: #93999f; }
      .answer-box .answer-pop .answer-pop-h .pop-h-cont .time-hint {
        padding-left: 20px;
        font-size: 12px;
        color: #93999f; }
        .answer-box .answer-pop .answer-pop-h .pop-h-cont .time-hint span {
          margin-right: 20px; }
      .answer-box .answer-pop .answer-pop-h .pop-h-cont .total-cont {
        padding-top: 25px;
        margin: 22px 8px 0 8px;
        border-top: 1px dashed #EEEEEE;
        text-align: center; }
        .answer-box .answer-pop .answer-pop-h .pop-h-cont .total-cont .total-item {
          display: inline-block; }
          .answer-box .answer-pop .answer-pop-h .pop-h-cont .total-cont .total-item .total-list {
            float: left;
            position: relative; }
            .answer-box .answer-pop .answer-pop-h .pop-h-cont .total-cont .total-item .total-list .total-num {
              color: #1C1F21;
              font-weight: bold; }
              .answer-box .answer-pop .answer-pop-h .pop-h-cont .total-cont .total-item .total-list .total-num .num-p {
                margin: 0 4px;
                font-size: 22px;
                color: #F01414; }
            .answer-box .answer-pop .answer-pop-h .pop-h-cont .total-cont .total-item .total-list .total-p {
              margin-top: 8px;
              font-size: 12px;
              color: #93999f; }
          .answer-box .answer-pop .answer-pop-h .pop-h-cont .total-cont .total-item .total-list-br {
            padding-right: 18px;
            margin-right: 18px; }
          .answer-box .answer-pop .answer-pop-h .pop-h-cont .total-cont .total-item .total-list-br:after {
            content: '';
            width: 1px;
            height: 32px;
            background: #EEEEEE;
            position: absolute;
            top: 10px;
            right: 0; }
      .answer-box .answer-pop .answer-pop-h .pop-h-cont .pop-propress-cont {
        width: 316px;
        height: 6px;
        margin: 30px 42px 0 42px;
        background: #EEEEEE;
        position: relative;
        border-radius: 6px; }
        .answer-box .answer-pop .answer-pop-h .pop-h-cont .pop-propress-cont .propress {
          height: 6px;
          border-radius: 6px;
          background: #51c905;
          position: absolute;
          top: 0;
          left: 0; }
  .answer-box .answer-pop .answer-pop-c {
    padding-top: 70px;
    padding-bottom: 25px;
    border-radius: 0px 0px 8px 8px; }
    .answer-box .answer-pop .answer-pop-c .total-num-cont {
      margin: 0 62px; }
      .answer-box .answer-pop .answer-pop-c .total-num-cont .total-num-ul {
        margin-left: -34px; }
        .answer-box .answer-pop .answer-pop-c .total-num-cont .total-num-ul li {
          float: left;
          width: 36px;
          height: 36px;
          text-align: center;
          border: 1px solid #D9DDE1;
          box-sizing: border-box;
          border-radius: 10px;
          margin-left: 34px;
          margin-bottom: 26px;
          position: relative; }
          .answer-box .answer-pop .answer-pop-c .total-num-cont .total-num-ul li span {
            color: #93999f;
            font-size: 16px;
            line-height: 34px;
            text-align: center;
            display: block; }
          .answer-box .answer-pop .answer-pop-c .total-num-cont .total-num-ul li img {
            width: 18px;
            height: 18px;
            position: absolute;
            bottom: -9px;
            right: -9px;
            display: block; }
    .answer-box .answer-pop .answer-pop-c .pop-but-cont {
      margin: 6px 28px 0 28px;
      text-align: center;
      padding-top: 26px;
      border-top: 1px dashed #EEEEEE; }
      .answer-box .answer-pop .answer-pop-c .pop-but-cont .pop-but-box {
        display: inline-block; }
        .answer-box .answer-pop .answer-pop-c .pop-but-cont .pop-but-box a {
          width: 110px;
          padding: 11px 0;
          text-align: center;
          color: #93999f;
          border: 1px solid #93999f;
          box-sizing: border-box;
          border-radius: 18px;
          font-size: 12px;
          line-height: 12px;
          margin-right: 60px;
          float: left;
          display: block; }
        .answer-box .answer-pop .answer-pop-c .pop-but-cont .pop-but-box .but-a {
          border: 1px solid #3cd0c3;
          color: #ffffff;
          background-color: #3cd0c3; }
      .answer-box .answer-pop .answer-pop-c .pop-but-cont .pop-but-box a:last-child {
        margin-right: 0; }
.answer-box .ana-ul {
  padding-bottom: 0 !important; }
  .answer-box .ana-ul .total-num-ul {
    margin-left: -18px; }
    .answer-box .ana-ul .total-num-ul li {
      width: 36px;
      height: 36px;
      text-align: center;
      border: 1px solid #D9DDE1;
      box-sizing: border-box;
      border-radius: 10px;
      float: left;
      margin-left: 18px;
      margin-bottom: 26px;
      position: relative; }
      .answer-box .ana-ul .total-num-ul li span {
        color: #93999f;
        font-size: 16px;
        line-height: 34px;
        text-align: center;
        display: block; }
      .answer-box .ana-ul .total-num-ul li img {
        position: absolute;
        width: 18px;
        height: 18px;
        bottom: -9px;
        right: -9px;
        display: block; }
.answer-box .r-total-cont .total-cont {
  padding-top: 20px;
  text-align: center; }
  .answer-box .r-total-cont .total-cont .total-item {
    display: inline-block; }
    .answer-box .r-total-cont .total-cont .total-item .total-list {
      float: left;
      position: relative; }
      .answer-box .r-total-cont .total-cont .total-item .total-list .total-num {
        color: #1C1F21;
        font-weight: bold; }
        .answer-box .r-total-cont .total-cont .total-item .total-list .total-num .num-p {
          margin: 0 4px;
          font-size: 22px;
          color: #F01414; }
      .answer-box .r-total-cont .total-cont .total-item .total-list .total-p {
        margin-top: 8px;
        font-size: 12px;
        color: #93999f; }
    .answer-box .r-total-cont .total-cont .total-item .total-list-br {
      padding-right: 18px;
      margin-right: 18px; }
    .answer-box .r-total-cont .total-cont .total-item .total-list-br:after {
      content: '';
      width: 1px;
      height: 32px;
      background: #EEEEEE;
      position: absolute;
      top: 10px;
      right: 0px; }

/*# sourceMappingURL=answer.css.map */
