.excellent-course .excellent-course-banner {
  width: 100%;
  height: 220px;
  background-repeat: no-repeat;
  background-size: cover; }
  .excellent-course .excellent-course-banner .course-type-tit {
    display: flex;
    justify-content: center;
    margin-bottom: 30px; }
    .excellent-course .excellent-course-banner .course-type-tit p {
      float: left;
      font-size: 30px;
      font-weight: bold;
      color: #FFFFFF;
      line-height: 30px;
      font-family: MicrosoftYaHei-Bold; }
    .excellent-course .excellent-course-banner .course-type-tit span {
      display: block;
      float: left;
      font-size: 22px;
      line-height: 30px;
      margin: 0 15px; }
  .excellent-course .excellent-course-banner .course-sub {
    font-size: 24px;
    line-height: 30px;
    color: #FFFFFF; }
    .excellent-course .excellent-course-banner .course-sub p {
      float: left; }
    .excellent-course .excellent-course-banner .course-sub span {
      width: 15px;
      height: 24px;
      float: left;
      display: block; }
  .excellent-course .excellent-course-banner .course-tit-line {
    width: 6px;
    height: 6px;
    background: #ff9900;
    border-radius: 50%;
    margin: 12px 30px 0 30px; }
.excellent-course .course-nav-warper {
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0 2px 6px 0 rgba(20, 14, 32, 0.02); }
.excellent-course .course-nav {
  margin: 0 auto; }
.excellent-course .course-nav-cont {
  font-size: 14px;
  padding: 12px 0;
  border-bottom: 1px solid #e4a8f2; }
.excellent-course .course-nav-cont:last-child {
  border-bottom: none; }
.excellent-course .course-nav-tit {
  line-height: 40px;
  float: left;
  font-size: 14px;
  font-family: MicrosoftYaHei-Bold;
  color: #07111B;
  font-weight: bold; }
.excellent-course .course-nav-item {
  margin-left: 52px; }
  .excellent-course .course-nav-item li {
    float: left;
    margin: 0 4px;
    position: relative; }
    .excellent-course .course-nav-item li a {
      display: block;
      font-size: 14px;
      line-height: 40px;
      height: 40px;
      padding: 0 16px;
      text-align: center;
      color: #ff9900;
      font-weight: 400; }
    .excellent-course .course-nav-item li .more-nav-box {
      min-width: 108px;
      box-sizing: border-box; }
      .excellent-course .course-nav-item li .more-nav-box span {
        display: block;
        float: left; }
    .excellent-course .course-nav-item li .course-nav-item-act {
      background: #f0fbfa;
      color: #81D8D0;
      border-radius: 10px; }
      .excellent-course .course-nav-item li .course-nav-item-act .n-more-icon {
        background-image: url("../images/more-icon-a.png") !important;
        background-repeat: no-repeat;
        width: 10px;
        height: 6px;
        margin-left: 10px;
        margin-top: 17px;
        background-size: 100%; }
    .excellent-course .course-nav-item li .n-more-sel {
      width: 100%;
      border-radius: 0 0 8px 8px;
      background: #FFFFFF;
      position: absolute;
      top: -5px;
      left: 0;
      z-index: 9;
      box-shadow: 0 2px 6px 0 rgba(20, 14, 32, 0.28);
      display: none; }
      .excellent-course .course-nav-item li .n-more-sel .n-more-sel-top {
        padding: 18px 0 18px 16px;
        font-size: 14px;
        line-height: 14px;
        color: #1C1F21;
        cursor: pointer; }
        .excellent-course .course-nav-item li .n-more-sel .n-more-sel-top span {
          max-width: 64%;
          display: block; }
        .excellent-course .course-nav-item li .n-more-sel .n-more-sel-top img {
          width: 10px;
          height: 6px;
          margin-top: 4px;
          margin-left: 10px;
          display: block; }
      .excellent-course .course-nav-item li .n-more-sel .select-nav-list {
        margin: 0 16px;
        border-top: 1px solid #ff7504;
        padding-top: 15px; }
        .excellent-course .course-nav-item li .n-more-sel .select-nav-list a {
          display: block;
          width: 100%;
          text-align: center;
          padding: 0;
          line-height: 14px;
          height: 14px;
          margin-bottom: 18px;
          color: #93999f;
          box-sizing: border-box; }
        .excellent-course .course-nav-item li .n-more-sel .select-nav-list a:hover {
          color: #4D555D; }
        .excellent-course .course-nav-item li .n-more-sel .select-nav-list .select-nav-a {
          color: #2B99A3; }
.excellent-course .course-list-wraper {
  margin: 0 auto; }
.excellent-course .course-list-head {
  position: relative; }
.excellent-course .recommend-nav {
  margin: 22px 0 28px 0; }
  .excellent-course .recommend-nav li {
    float: left;
    margin-right: 18px; }
    .excellent-course .recommend-nav li a {
      display: block;
      line-height: 24px;
      height: 24px;
      padding: 0 12px;
      border-radius: 12px;
      color: #545C63; }
    .excellent-course .recommend-nav li .recommend-nav-act {
      color: #fefefe !important;
      background: #2B99A3 !important; }
.excellent-course .recommend-pay-nav {
  position: absolute;
  top: 1px;
  right: 1px; }
  .excellent-course .recommend-pay-nav li {
    float: left; }
    .excellent-course .recommend-pay-nav li a {
      padding-top: 7px;
      padding-bottom: 7px;
      display: block;
      text-align: center;
      font-size: 12px;
      line-height: 12px;
      color: #ff7504;
      border: 1px solid #ff7504;
      box-sizing: border-box; }
    .excellent-course .recommend-pay-nav li .free-nav {
      padding-left: 18px;
      padding-right: 10px;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px; }
    .excellent-course .recommend-pay-nav li .recommend-pay-nav-act {
      background: #ff9900;
      color: #FFFFFF; }
    .excellent-course .recommend-pay-nav li .excellent-nav {
      padding-left: 10px;
      padding-right: 18px;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px; }
.excellent-course .course-list-cont {
  overflow: hidden; }
.excellent-course .moco-course-list {
  margin-left: -32px;
  float: left; }
.excellent-course .excellent-course-list {
  width: 378px;
  overflow: hidden;
  float: left;
  margin-left: 32px;
  margin-bottom: 36px;
  position: relative; }
  .excellent-course .excellent-course-list .course-list-img {
    width: 100%;
    height: 230px;
    display: block;
    border-radius: 15px; }
  .excellent-course .excellent-course-list .member-free {
    width: 80px;
    height: 28px;
    position: absolute;
    z-index: 9;
    border-radius: 15px 0 15px 0;
    background: #ff9900;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    top: 0;
    left: 0; }
  .excellent-course .excellent-course-list .course-info-container {
    margin: 0 4px; }
  .excellent-course .excellent-course-list .course-tit-cont {
    margin: 16px 0 20px 0; }
  .excellent-course .excellent-course-list .course-card-container-tit {
    display: block;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 16px 0 18px 0;
    color: #07111B;
    height: 18px;
    line-height: 18px; }
  .excellent-course .excellent-course-list .course-card-container-tit:hover {
    color: #2B99A3; }
  .excellent-course .excellent-course-list .course-list-info {
    display: flex;
    justify-content: space-between; }
  .excellent-course .excellent-course-list .course-info-text {
    line-height: 14px;
    font-size: 12px;
    color: #93999f; }
    .excellent-course .excellent-course-list .course-info-text .course-rank {
      margin-right: 20px; }
    .excellent-course .excellent-course-list .course-info-text .lean-num {
      margin: 0 20px; }
    .excellent-course .excellent-course-list .course-info-text .course-stu-num .people-num {
      width: 14px;
      height: 14px;
      display: block;
      float: left; }
    .excellent-course .excellent-course-list .course-info-text .course-stu-num span {
      line-height: 14px;
      margin-left: 3px;
      float: left;
      display: block; }
  .excellent-course .excellent-course-list .operation-cont {
    color: #93999f;
    font-size: 12px;
    line-height: 14px;
    cursor: pointer; }
  .excellent-course .excellent-course-list .collect-cont {
    position: relative; }
    .excellent-course .excellent-course-list .collect-cont .collect-img {
      width: 14px;
      height: 14px;
      background-image: url("../images/sc-star.png");
      background-size: 100% 100%;
      background-repeat: no-repeat;
      margin-right: 5px; }
  .excellent-course .excellent-course-list .collect-cont:hover {
    color: #4D555D; }
  .excellent-course .excellent-course-list .collect-cont-act {
    cursor: pointer;
    color: #81D8D0; }
    .excellent-course .excellent-course-list .collect-cont-act .collect-img:hover {
      background-image: url("../images/collect-cont-hov-icon.png"); }
  .excellent-course .excellent-course-list .collect-line {
    width: 1px;
    height: 12px;
    background: #93999f;
    margin: 1px 12px 0 12px; }
  .excellent-course .excellent-course-list .shop-car {
    cursor: pointer;
    line-height: 14px; }
  .excellent-course .excellent-course-list .shop-car:hover {
    color: #4D555D; }
  .excellent-course .excellent-course-list .course-price-cont {
    height: 18px;
    margin-top: 12px; }
  .excellent-course .excellent-course-list .course-price {
    line-height: 18px;
    color: #6b95ff;
    font-size: 12px;
    margin-right: 10px; }
  .excellent-course .excellent-course-list .time-limit-box {
    padding: 0 5px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    background: linear-gradient(75deg, #e07df0, #ff8212, #3271ff);
    border-radius: 4px;
    color: #FFFFFF;
    font-size: 10px; }

/*# sourceMappingURL=excellent-course.css.map */
