@charset "UTF-8";
.free-classes-info {
  min-height: 522px;
  /*课程内容*/ }
  .free-classes-info .banner-info {
    background-image: url("../images/banner-info.png");
    width: 100%;
    height: 220px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative; }
  .free-classes-info .banner-cont {
    height: 100%;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -600px; }
  .free-classes-info .crumbs-nav {
    padding-top: 16px;
    font-size: 12px;
    line-height: 12px;
    color: rgba(255, 255, 255, 0.7); }
    .free-classes-info .crumbs-nav a {
      color: rgba(255, 255, 255, 0.7); }
    .free-classes-info .crumbs-nav a:hover {
      color: white; }
  .free-classes-info .course-tit {
    font-size: 30px;
    line-height: 32px;
    font-weight: 400;
    color: #FFFFFF;
    margin-top: 32px;
    margin-bottom: 38px;
    letter-spacing: 4px; }
  .free-classes-info .banner-lecturer-info {
    margin-right: 50px; }
  .free-classes-info .lecturer-img {
    width: 44px;
    height: 44px;
    background: rgba(204, 74, 217, 0.5);
    border-radius: 50%;
    border: 2px solid #ff5900; }
  .free-classes-info .lecturer-info {
    margin-left: 10px;
    color: #FFFFFF;
    font-size: 14px; }
    .free-classes-info .lecturer-info p {
      letter-spacing: 2px; }
  .free-classes-info .lecturer-info p:first-child {
    margin-bottom: 6px; }
  .free-classes-info .course-mesg li {
    float: left;
    font-size: 12px;
    padding-right: 14px;
    margin-right: 14px;
    position: relative;
    color: #FFFFFF;
    letter-spacing: 2px; }
  .free-classes-info .course-mesg li:after {
    content: "";
    width: 1px;
    height: 12px;
    background: #FFFFFF;
    position: absolute;
    top: 2px;
    right: 0; }
  .free-classes-info .course-mesg li:last-child:after {
    content: "";
    width: 0; }
  .free-classes-info .collection-share-box {
    margin-top: 14px; }
  .free-classes-info .collect-share {
    float: left;
    cursor: pointer;
    opacity: .7; }
    .free-classes-info .collect-share img {
      width: 20px; }
    .free-classes-info .collect-share span {
      font-size: 12px;
      color: #FFFFFF;
      margin-left: 2px; }
  .free-classes-info .collect-img {
    margin-right: 25px; }
  .free-classes-info .collect-share:hover {
    opacity: 1; }
  .free-classes-info .schedule-wrapper {
    width: 528px;
    height: 86px;
    background: #FFFFFF;
    position: absolute;
    bottom: -43px;
    right: 0;
    border-radius: 10px;
    box-shadow: 0px 4px 8px 0px rgba(204, 74, 217, 0.28); }
  .free-classes-info .schedule-cont {
    width: 464px; }
  .free-classes-info .intro-box {
    width: 312px;
    color: #ff7504;
    font-size: 14px;
    line-height: 64px; }
  .free-classes-info .schedule-text {
    font-size: 12px;
    color: #cc4ad9; }
  .free-classes-info .rate-num {
    color: #81D8D0; }
  .free-classes-info .progress-bar {
    width: 262px;
    height: 6px;
    position: relative;
    background: #ff5900;
    border-radius: 3px;
    margin: 8px 0 12px 0; }
  .free-classes-info .progress-bac {
    max-width: 100%;
    height: 6px;
    background: #81D8D0;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 3px; }
  .free-classes-info .history-course-p {
    max-width: 262px; }
  .free-classes-info .start-learn-but {
    display: block;
    margin-top: 12px;
    padding: 13px 32px;
    border-radius: 25px;
    font-size: 14px;
    text-align: center;
    color: #cc4ad9;
    line-height: 14px; }
  .free-classes-info .course-cont-nav {
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0 2px 6px 0 rgba(120, 14, 32, 0.02); }
    .free-classes-info .course-cont-nav .course-cont-item {
      margin: 0 auto; }
    .free-classes-info .course-cont-nav .course-cont-ul li {
      float: left;
      font-weight: 400;
      margin-right: 60px; }
    .free-classes-info .course-cont-nav .course-cont-ul a {
      display: block;
      padding: 20px 0;
      font-size: 16px;
      color: #cc4ad9;
      border-bottom: 4px solid #FFFFFF; }
    .free-classes-info .course-cont-nav .course-cont-ul .course-cont-ul-act {
      color: #81D8D0;
      border-bottom: 4px solid #81D8D0; }
  .free-classes-info .banner-mask {
    width: 100%;
    height: 100%;
    background: rgba(13, 14, 14, 0.3);
    position: absolute;
    top: 0;
    left: 0; }
  .free-classes-info .course-details-wrap {
    margin-top: 36px; }
  .free-classes-info .detail-cont-l {
    width: 814px; }
  .free-classes-info .detail-cont-r {
    width: 340px; }
  .free-classes-info .free-course-intro-box {
    font-size: 12px;
    font-weight: 400;
    color: #93999f;
    line-height: 22px;
    margin-bottom: 32px; }
    .free-classes-info .free-course-intro-box h2 {
      font-size: 16px;
      font-weight: bold;
      color: #191919;
      margin-bottom: 20px; }
  .free-classes-info .section-list {
    margin-top: 29px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ff5900; }
  .free-classes-info .free-course-head .section-img-box {
    margin-left: 10px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    float: left; }
    .free-classes-info .free-course-head .section-img-box .section-img {
      width: 18px;
      height: 18px;
      display: block;
      margin: 5px auto; }
  .free-classes-info .free-course-head .section-text {
    margin-left: 48px; }
  .free-classes-info .course-section-item {
    border-top: 1px solid #cc4ad9;
    margin-top: 20px; }
  .free-classes-info .free-course-item {
    border-top: none; }
    .free-classes-info .free-course-item .free-multistage-tit, .free-classes-info .free-course-item .free-multistage-box a {
      font-size: 14px;
      color: #ff5900;
      display: block;
      padding: 12px 0 12px 12px;
      position: relative; }
      .free-classes-info .free-course-item .free-multistage-tit .video-icon, .free-classes-info .free-course-item .free-multistage-box a .video-icon {
        width: 18px;
        height: 18px;
        border: 2px solid #ffe21f;
        border-radius: 50%;
        box-sizing: border-box;
        background: none;
        margin-right: 10px; }
        .free-classes-info .free-course-item .free-multistage-tit .video-icon img, .free-classes-info .free-course-item .free-multistage-box a .video-icon img {
          display: none; }
  .free-classes-info .study-but-box {
    position: absolute;
    top: 0;
    right: 16px;
    height: 100%;
    z-index: 6; }
    .free-classes-info .study-but-box .s-but-box {
      height: 100%;
      display: flex;
      align-items: center; }
      .free-classes-info .study-but-box .s-but-box span {
        width: 80px;
        height: 22px;
        line-height: 22px;
        text-align: center;
        font-size: 12px;
        display: block;
        border-radius: 11px;
        color: #2f27ff;
        background: #81D8D0; }
  .free-classes-info .free-course-item li a:hover {
    color: #cc4ad9;
    background: #fff077; }
  .free-classes-info .schedule-list {
    display: block;
    font-size: 14px;
    color: #191919;
    padding: 12px 0 12px 12px;
    position: relative; }
    .free-classes-info .schedule-list .video-icon {
      width: 18px;
      height: 18px;
      background: #ff9900;
      margin-right: 10px;
      border-radius: 50%; }
      .free-classes-info .schedule-list .video-icon img {
        width: 6px;
        height: 6px;
        display: block;
        margin: 5px 0 5px 7px; }
  .free-classes-info .title_info {
    max-width: 680px;
    line-height: 18px; }
  .free-classes-info .free-schedule-list:hover {
    color: #cc4ad9;
    background: #fff077; }
  .free-classes-info .data-download-list {
    border-bottom: 1px solid #ffe21f;
    padding-bottom: 30px;
    margin-bottom: 30px; }
  .free-classes-info .material-type {
    font-size: 14px;
    color: #fff;
    padding: 0 10px;
    height: 20px;
    line-height: 20px;
    border-radius: 10px;
    background: #ffeb3b; }
  .free-classes-info .material-tit {
    font-size: 16px;
    line-height: 20px;
    color: #07111B;
    margin-left: 14px;
    margin-right: 20px;
    max-width: 500px; }
  .free-classes-info .material-info {
    font-size: 12px;
    line-height: 20px;
    color: #6864ff; }
  .free-classes-info .material-info span:first-child {
    margin-right: 25px; }
  .free-classes-info .download-but {
    width: 20px;
    height: 20px;
    margin-right: 20px;
    background-image: url("../images/c-xiazai.png");
    background-repeat: no-repeat;
    background-size: 100%;
    display: block;
    float: right;
    cursor: pointer; }
  .free-classes-info .evaluation-info {
    margin-bottom: 36px;
    border-bottom: 1px solid #ff9900;
    padding-bottom: 26px; }
  .free-classes-info .evaluation-title {
    font-size: 16px;
    color: #ffe21f;
    line-height: 18px; }
  .free-classes-info .evaluation-score {
    margin: 0 18px;
    font-weight: bold;
    font-size: 32px; }
  .free-classes-info .grade-ul li {
    float: left;
    margin-top: 8px;
    margin-right: 40px;
    font-size: 14px;
    line-height: 22px; }
    .free-classes-info .grade-ul li span {
      display: inline-block;
      vertical-align: middle;
      float: left; }
  .free-classes-info .grade-ul li:last-child {
    margin-right: 0; }

/*# sourceMappingURL=free-course-info.css.map */
