.free-classes-info {
  min-height: 522px; }
  .free-classes-info .banner-info {
    background-image: url("../images/banner-info.png");
    width: 100%;
    height: 220px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative; }
  .free-classes-info .banner-cont {
    height: 100%;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -600px; }
  .free-classes-info .crumbs-nav {
    padding-top: 16px;
    font-size: 12px;
    line-height: 12px;
    color: rgba(255, 255, 255, 0.7); }
    .free-classes-info .crumbs-nav a {
      color: rgba(255, 255, 255, 0.7); }
    .free-classes-info .crumbs-nav a:hover {
      color: white; }
  .free-classes-info .course-tit {
    font-size: 30px;
    line-height: 32px;
    font-weight: 400;
    color: #FFFFFF;
    margin-top: 32px;
    margin-bottom: 38px;
    letter-spacing: 4px; }
  .free-classes-info .banner-lecturer-info {
    margin-right: 50px; }
  .free-classes-info .lecturer-img {
    width: 44px;
    height: 44px;
    background: rgba(204, 74, 217, 0.5);
    border-radius: 50%;
    border: 2px solid #ff5900; }
  .free-classes-info .lecturer-info {
    margin-left: 10px;
    color: #FFFFFF;
    font-size: 14px; }
    .free-classes-info .lecturer-info p {
      letter-spacing: 2px; }
  .free-classes-info .lecturer-info p:first-child {
    margin-bottom: 6px; }
  .free-classes-info .course-mesg li {
    float: left;
    font-size: 12px;
    padding-right: 14px;
    margin-right: 14px;
    position: relative;
    color: #FFFFFF;
    letter-spacing: 2px; }
  .free-classes-info .course-mesg li:after {
    content: "";
    width: 1px;
    height: 12px;
    background: #FFFFFF;
    position: absolute;
    top: 2px;
    right: 0; }
  .free-classes-info .course-mesg li:last-child:after {
    content: "";
    width: 0; }
  .free-classes-info .collection-share-box {
    margin-top: 14px; }
  .free-classes-info .collect-share {
    float: left;
    cursor: pointer;
    opacity: .7; }
    .free-classes-info .collect-share img {
      width: 20px; }
    .free-classes-info .collect-share span {
      font-size: 12px;
      color: #FFFFFF;
      margin-left: 2px; }
  .free-classes-info .collect-img {
    margin-right: 25px; }
  .free-classes-info .collect-share:hover {
    opacity: 1; }
  .free-classes-info .schedule-wrapper {
    width: 528px;
    height: 86px;
    background: #FFFFFF;
    position: absolute;
    bottom: -43px;
    right: 0;
    border-radius: 10px;
    box-shadow: 0px 4px 8px 0px rgba(204, 74, 217, 0.28); }
  .free-classes-info .schedule-cont {
    width: 464px; }
  .free-classes-info .intro-box {
    width: 312px;
    color: #ff7504;
    font-size: 14px;
    line-height: 64px; }
  .free-classes-info .schedule-text {
    font-size: 12px;
    color: #cc4ad9; }
  .free-classes-info .banner-mask {
    width: 100%;
    height: 100%;
    background: rgba(13, 14, 14, 0.3);
    position: absolute;
    top: 0;
    left: 0; }

/*# sourceMappingURL=free-course-info.css.map */
