@charset "UTF-8";
html, body,
div, ul, li, ol,
p, dl, dt, dd,
h1, h2, h3, h4, h5, h6,
table, tr, th, td, caption, thead, tbody, tfoot,
form, label, input, button, select, option,
iframe, a, img, span, em, i, strong, b, u, center, big, small, sub, sup,
blockquote, pre,
abbr, acronym, address, cite, code,
del, dfn, font {
  margin: 0;
  padding: 0;
  font-family: "Microsoft YaHei", "Arial", "榛戜綋", sans-serif; }

textarea {
  font-family: "Microsoft YaHei", "Arial", "榛戜綋", sans-serif; }

body {
  overflow-y: scroll;
  background-color: #F8FCFC; }

.bg-white {
  background: #fff; }

.cont-wd {
  width: 1200px; }

.clear:after {
  content: '';
  width: 0;
  height: 0;
  display: block;
  clear: both;
  overflow: hidden; }

.fz-14 {
  font-size: 14px; }

.fz-16 {
  font-size: 16px; }

a {
  text-decoration: none; }

.align-center {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center; }

.space-between {
  display: flex;
  justify-content: space-between; }

.white-space {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.checkbox {
  display: none; }

.c-pri {
  color: #F01414 !important; }

li {
  list-style: none; }

.btn-bac {
  background-color: #3CD0C3; }

.fixed-bac {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9; }

.banner-mask {
  width: 100%;
  height: 100%;
  background: rgba(13, 14, 14, 0.2);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1; }

.f-l {
  float: left; }

.box-null {
  min-height: 320px;
  background: #787d82;
  box-shadow: 0 2px 10px 0 rgba(135, 135, 135, 0.2);
  border-radius: 10px; }

.cont-s-wd {
  width: 1100px; }

.cont-wd-1060 {
  width: 1060px; }

.select-none {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.flex-top {
  display: inline-block;
  vertical-align: top; }

.sc-bold {
  font-family: PingFang-SC-Bold; }

.c-pri {
  color: #FF1818; }

.c-orange {
  color: #ffe21f; }

.hint-p {
  height: 42px;
  line-height: 42px;
  font-size: 12px;
  color: #ff7504;
  background: #e4a8f2;
  border-radius: 10px;
  position: absolute;
  top: 0;
  opacity: 0;
  cursor: text; }

.nav-wrapper {
  width: 100%;
  height: 72px; }
  .nav-wrapper .nav-cont {
    min-width: 1200px;
    margin: 0 50px; }
    .nav-wrapper .nav-cont .nav-l {
      float: left; }
      .nav-wrapper .nav-cont .nav-l .logo-cont {
        width: 120px;
        height: 42px;
        float: left;
        margin-top: 15px;
        background-image: url("../images/logo-b.png");
        background-repeat: no-repeat;
        background-size: 100%; }
      .nav-wrapper .nav-cont .nav-l .nav-menu {
        float: left;
        margin-left: 32px; }
        .nav-wrapper .nav-cont .nav-l .nav-menu ul li {
          float: left;
          margin-right: 30px; }
          .nav-wrapper .nav-cont .nav-l .nav-menu ul li a {
            padding: 0 12px;
            line-height: 72px;
            display: block;
            color: #4D555D; }

.nav-bac {
  background: #191919; }

.nav-r {
  float: right;
  height: 72px;
  display: flex;
  align-items: center; }

.nav-shop-car-box {
  height: 72px;
  position: relative; }
  .nav-shop-car-box .nav-shop-car {
    margin-top: 18px;
    height: 36px;
    border: 1px solid #d9dde1;
    border-radius: 18px;
    box-sizing: border-box;
    padding: 0 14px; }
    .nav-shop-car-box .nav-shop-car .nav-shop-car-img {
      width: 24px;
      height: 24px;
      background-image: url("../images/shop-car.png");
      background-size: 100%;
      background-repeat: no-repeat; }
    .nav-shop-car-box .nav-shop-car .nav-shop-car-t {
      color: #71777D;
      font-size: 12px;
      margin: 0 5px; }
    .nav-shop-car-box .nav-shop-car .nav-shop-car-num {
      height: 18px;
      line-height: 18px;
      padding: 0 6px;
      font-size: 12px;
      border-radius: 50%;
      color: #ffffff;
      background-color: #F01414;
      text-align: center; }
  .nav-shop-car-box .nav-shop-cont {
    width: 330px;
    position: absolute;
    top: 72px;
    right: 0;
    z-index: 10;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 8px 16px 0 rgba(7, 17, 27, 0.2);
    display: none; }
    .nav-shop-car-box .nav-shop-cont .nav-icon-s {
      width: 20px;
      height: 20px;
      position: absolute;
      top: -8px;
      right: 49px; }
    .nav-shop-car-box .nav-shop-cont .nav-shop-top {
      margin: 0 20px;
      padding: 18px 0; }
      .nav-shop-car-box .nav-shop-cont .nav-shop-top .nav-car-tit {
        font-size: 12px;
        color: #81D8D0;
        line-height: 12px; }
      .nav-shop-car-box .nav-shop-cont .nav-shop-top .nav-car-num {
        font-size: 12px;
        color: #070918;
        line-height: 12px; }
    .nav-shop-car-box .nav-shop-cont .nav-car-item {
      border-top: 1px solid #E7E7E7;
      border-bottom: 1px solid #E7E7E7;
      height: 224px;
      margin: 0 20px;
      overflow: auto; }
      .nav-shop-car-box .nav-shop-cont .nav-car-item .nav-car-list {
        padding: 8px 15px 8px 6px;
        position: relative; }
        .nav-shop-car-box .nav-shop-cont .nav-car-item .nav-car-list .nav-course-img {
          width: 80px;
          height: 50px;
          float: left; }
          .nav-shop-car-box .nav-shop-cont .nav-car-item .nav-car-list .nav-course-img img {
            width: 100%;
            height: 100%;
            display: block; }
        .nav-shop-car-box .nav-shop-cont .nav-car-item .nav-car-list .nav-course-detail {
          margin-left: 90px; }
          .nav-shop-car-box .nav-shop-cont .nav-car-item .nav-car-list .nav-course-detail .car-course-tit {
            font-size: 12px;
            color: #1C1F21;
            margin-top: -3px;
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap; }
          .nav-shop-car-box .nav-shop-cont .nav-car-item .nav-car-list .nav-course-detail .car-course-bot {
            margin-top: 4px;
            font-size: 12px;
            color: #1C1F21; }
            .nav-shop-car-box .nav-shop-cont .nav-car-item .nav-car-list .nav-course-detail .car-course-bot .car-course-price {
              opacity: 0.75; }
            .nav-shop-car-box .nav-shop-cont .nav-car-item .nav-car-list .nav-course-detail .car-course-bot .nav-course-del {
              color: #F01414;
              position: absolute;
              bottom: 11px;
              right: 13px;
              display: none; }
      .nav-shop-car-box .nav-shop-cont .nav-car-item .nav-car-list:hover {
        background: #f5f6f6; }
        .nav-shop-car-box .nav-shop-cont .nav-car-item .nav-car-list:hover .nav-course-del {
          display: block !important; }
      .nav-shop-car-box .nav-shop-cont .nav-car-item .nav-car-null {
        height: 100%; }
        .nav-shop-car-box .nav-shop-cont .nav-car-item .nav-car-null .nav-car-null-box {
          text-align: center; }
          .nav-shop-car-box .nav-shop-cont .nav-car-item .nav-car-null .nav-car-null-box img {
            width: 48px;
            height: 48px;
            display: block;
            margin: 0 auto; }
          .nav-shop-car-box .nav-shop-cont .nav-car-item .nav-car-null .nav-car-null-box p {
            color: #9199a1;
            font-size: 12px; }
          .nav-shop-car-box .nav-shop-cont .nav-car-item .nav-car-null .nav-car-null-box a {
            font-size: 12px;
            color: #81D8D0;
            display: block; }
          .nav-shop-car-box .nav-shop-cont .nav-car-item .nav-car-null .nav-car-null-box .car-null-hint {
            font-size: 14px;
            color: #1C1F21;
            margin: 18px 0 14px 0; }
          .nav-shop-car-box .nav-shop-cont .nav-car-item .nav-car-null .nav-car-null-box .nav-a-mt {
            margin: 20px 0 14px 0; }
    .nav-shop-car-box .nav-shop-cont .nav-car-bot {
      margin: 0 20px;
      padding: 11px 0; }
      .nav-shop-car-box .nav-shop-cont .nav-car-bot a {
        display: block; }
      .nav-shop-car-box .nav-shop-cont .nav-car-bot .nav-car-bot-l {
        font-size: 12px;
        color: #9199a1;
        line-height: 24px; }
      .nav-shop-car-box .nav-shop-cont .nav-car-bot .nav-car-bot-r {
        width: 78px;
        height: 24px;
        font-size: 12px;
        color: #ffffff;
        background: #81d8d0;
        line-height: 24px;
        text-align: center;
        border-radius: 12px; }

.nav-shop-car-box:hover .nav-shop-car {
  cursor: pointer; }
.nav-shop-car-box:hover .nav-shop-car {
  background: #F5F6F6; }
.nav-shop-car-box:hover .nav-shop-cont {
  display: block; }

.news-cont {
  margin: 0 25px 0 30px;
  position: relative; }
  .news-cont .nav-new-img {
    width: 36px;
    height: 36px;
    display: block; }
  .news-cont .news-hint-box {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #F01414;
    position: absolute;
    right: 5px; }

.user-head-portrait {
  height: 72px;
  position: relative; }
  .user-head-portrait .head-img-box {
    width: 44px;
    height: 44px;
    cursor: pointer;
    margin-top: 14px;
    box-sizing: border-box;
    background: #ffeb3b;
    border: 2px solid rgba(255, 255, 255, 0.8);
    box-shadow: 0 2px 0 6px rgba(20, 14, 32, 0.28);
    border-radius: 50%; }
    .user-head-portrait .head-img-box .user-head-img {
      width: 100%;
      height: 100%; }
  .user-head-portrait .user-nav-box {
    width: 330px;
    border-radius: 0 0 8px 8px;
    position: absolute;
    right: 0;
    top: 72px;
    z-index: 99;
    display: none;
    box-shadow: 0 8px 16px 0 rgba(188, 59, 255, 0.8); }
    .user-head-portrait .user-nav-box .nav-icon-s {
      width: 20px;
      height: 16px;
      position: absolute;
      top: -8px;
      right: 11px; }
    .user-head-portrait .user-nav-box .user-nav-cont {
      padding: 20px 0;
      margin: 0 20px; }
    .user-head-portrait .user-nav-box .u-img-box {
      width: 80px;
      height: 80px;
      margin-right: 18px; }
      .user-head-portrait .user-nav-box .u-img-box img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        display: block; }
    .user-head-portrait .user-nav-box .u-detail h2 {
      font-size: 16px;
      font-weight: 400;
      color: #1C1F21;
      line-height: 20px;
      max-width: 154px; }
    .user-head-portrait .user-nav-box .u-detail img {
      width: 20px;
      height: 20px;
      margin-left: 12px; }
    .user-head-portrait .user-nav-box .u-type-box {
      width: 185px;
      margin-top: 14px;
      font-size: 16px;
      color: #787d82; }
      .user-head-portrait .user-nav-box .u-type-box span {
        display: block; }
    .user-head-portrait .user-nav-box .u-com-nav {
      margin: 24px 0 28px 0; }
      .user-head-portrait .user-nav-box .u-com-nav .u-com-ul {
        margin-left: -10px; }
        .user-head-portrait .user-nav-box .u-com-nav .u-com-ul li {
          display: flex;
          width: 140px;
          height: 32px;
          justify-content: center;
          align-items: center;
          float: left; }
          .user-head-portrait .user-nav-box .u-com-nav .u-com-ul li a {
            color: #4D555D;
            font-size: 14px; }
            .user-head-portrait .user-nav-box .u-com-nav .u-com-ul li a img {
              width: 16px;
              height: 16px;
              margin-right: 10px; }
            .user-head-portrait .user-nav-box .u-com-nav .u-com-ul li a span {
              line-height: 14px; }
    .user-head-portrait .user-nav-box .lately-stu-cont {
      border-bottom: 1px solid #E7E7E7;
      padding-bottom: 18px; }
      .user-head-portrait .user-nav-box .lately-stu-cont .lately-icon {
        width: 14px;
        height: 14px;
        float: left; }
      .user-head-portrait .user-nav-box .lately-stu-cont .stu-p {
        width: 224px;
        color: #787d82;
        font-size: 14px;
        float: left;
        margin-left: 8px; }
        .user-head-portrait .user-nav-box .lately-stu-cont .stu-p .stu-p-tit {
          line-height: 14px;
          margin-bottom: 8px; }
      .user-head-portrait .user-nav-box .lately-stu-cont .nav-stu-but {
        float: right;
        font-size: 14px;
        color: #2B99A3;
        margin-top: 8px; }
    .user-head-portrait .user-nav-box .quit-but {
      margin-top: 18px;
      color: #93999f;
      font-size: 14px;
      display: block; }

.user-head-portrait:hover .user-nav-box {
  display: block; }

.middle {
  display: inline-block;
  vertical-align: middle; }

.align-center {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center; }

.few-foot-wrap {
  width: 100%;
  background: #070918;
  margin-top: 100px; }
  .few-foot-wrap .few-foot-cont {
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    color: #c8c8c8; }
    .few-foot-wrap .few-foot-cont .few-foot-cont-l .few-foot-nav li {
      float: left;
      margin-right: 32px; }
      .few-foot-wrap .few-foot-cont .few-foot-cont-l .few-foot-nav li a {
        font-size: 12px;
        color: #c8c8c8; }
    .few-foot-wrap .few-foot-cont .few-foot-cont-l .records-cont {
      font-size: 12px;
      margin-top: 14px; }
    .few-foot-wrap .few-foot-cont .few-foot-cont-r .icon-list {
      width: 32px;
      height: 32px;
      background: #767676;
      border-radius: 50px;
      float: left;
      margin-right: 18px;
      cursor: pointer;
      display: flex;
      align-items: center;
      position: relative; }
      .few-foot-wrap .few-foot-cont .few-foot-cont-r .icon-list img {
        width: 24px;
        height: 24px;
        margin: 0 auto;
        display: block; }
      .few-foot-wrap .few-foot-cont .few-foot-cont-r .icon-list .code-cont {
        width: 180px;
        padding: 8px 0;
        background: white;
        position: absolute;
        top: -200px;
        left: -74px;
        display: none; }
        .few-foot-wrap .few-foot-cont .few-foot-cont-r .icon-list .code-cont .code-cont-img {
          width: 124px;
          height: 124px;
          display: block; }
        .few-foot-wrap .few-foot-cont .few-foot-cont-r .icon-list .code-cont p {
          font-size: 12px;
          text-align: center;
          color: #070918; }
      .few-foot-wrap .few-foot-cont .few-foot-cont-r .icon-list .san-img {
        position: absolute;
        width: 20px;
        bottom: -13px;
        left: 80px; }
      .few-foot-wrap .few-foot-cont .few-foot-cont-r .icon-list .adress-cont {
        width: 180px;
        background: white;
        padding: 12px;
        position: absolute;
        left: -90px;
        top: -70px;
        display: none; }
        .few-foot-wrap .few-foot-cont .few-foot-cont-r .icon-list .adress-cont .san-img {
          left: 95px; }
        .few-foot-wrap .few-foot-cont .few-foot-cont-r .icon-list .adress-cont p {
          font-size: 12px;
          color: #070918; }
      .few-foot-wrap .few-foot-cont .few-foot-cont-r .icon-list .email-cont {
        width: 150px;
        background: white;
        padding: 12px;
        position: absolute;
        left: -70px;
        top: -70px;
        display: none; }
        .few-foot-wrap .few-foot-cont .few-foot-cont-r .icon-list .email-cont .san-img {
          left: 75px; }
        .few-foot-wrap .few-foot-cont .few-foot-cont-r .icon-list .email-cont p {
          font-size: 12px;
          color: #070918; }
    .few-foot-wrap .few-foot-cont .few-foot-cont-r .code-h:hover .code-cont {
      display: block; }
    .few-foot-wrap .few-foot-cont .few-foot-cont-r .adress-h:hover .adress-cont {
      display: block; }
    .few-foot-wrap .few-foot-cont .few-foot-cont-r .email-h:hover .email-cont {
      display: block; }

/*# sourceMappingURL=public.css.map */
