@charset "utf-8";
@import "theme";
.answer-box{

  .answer-wrap {
    position: relative;
    .answer-head{
      width: 100%;
      height: 100%;
      box-shadow: 0 2px 6px 0 rgba(20,14,32,0.02);
      .answer-head-cont {
        margin: 0 auto;
        a{
          line-height: 50px;
          color: #a4a6a7;
          font-size: 16px;
          display: block;
          float: left;
          position: relative;
          padding-right: 15px;
          margin-right: 10px;
        }
      }
      .answer-head-cont a:after{
        content: "/";
        position: absolute;
        top: 0;
        right: 0;
        color: #a4a6a7;
        font-size: 16px;
      }
      .answer-head-cont>a:last-child:after{
        content: "";
        cursor: default;
      }
    }
    .answer-cont {
      padding-top: 54px;
      margin: 0 auto;
      .answer-cont-l {
        width: 838px;
        .topic-top {
          padding-bottom: 14px;
          border-bottom: 1px solid $light-gray;
          margin-bottom: 20px;
          .topic-top-tit {
            color: $black-cl;
            font-size: 16px;
            line-height: 16px;
          }
          .topic-top-right {
            .topic-time-cont {
              line-height: 16px;
              font-size: 12px;
              color: #93999f;
              .t-time-num {
                color: $price-cl;
              }
            }
            .errors-but {
              line-height: 16px;
              font-size: 12px;
              color: $sub-cl;
              .checkbox[type=checkbox] +s {
                width: 14px;
                height: 14px;
                display: inline-block;
                background-image: url("../images/inp-check.png");
                background-repeat: no-repeat;
                background-size: 100%;
              }
              .checkbox[type=checkbox]:checked +s {
                background-image: url("../images/inp-check-a.png");
              }
              .check_img {
                margin-right: 8px;
              }

            }
          }
        }
        //产品布局列表
        .answer-item {
          .answer-list {
            margin-bottom: 48px;
            .ques-stem{
              width: 838px;
              background: #f2f7f7;
              border-radius: 10px;
              padding: 10px 0;
              .ques-stem-type{
                margin-left: 16px;
                padding: 0 10px;
                height: 20px;
                line-height: 18px;
                font-size: 12px;
                color: $sub-theme;
                border-radius: 10px;
                border: 1px solid $sub-theme;
                box-sizing: border-box;
              }
              .ques-line {
                color: #93999f;
                font-size: 16px;
                line-height: 14px;
                margin: 0 22px 0 12px;
              }
              .ques-stem-text{
                width: 700px;
                color: $black-cl;
                font-size: 14px;
                line-height: 20px;
              }
            }
            .ques-option-item{
              margin-top: 24px;
              margin-left: 114px;
              .ques-option-list{
                cursor: pointer;
                margin-bottom: 20px;
                position: relative;
                .list-inp {
                  position: absolute;
                  top: 0;
                  left: -15px;
                  opacity: 0;
                }
                .ques-option-num {
                  width: 26px;
                  height: 26px;
                  line-height: 24px;
                  text-align: center;
                  box-sizing: border-box;
                  border: 1px solid $option-cl;
                  color: $sub-cl;
                  border-radius: 50%;
                  font-size: 14px;
                  float: left;
                }
                .option-num-a {
                  color: #ffffff;
                  background: $theme-cl;
                  border: 1px solid $theme-cl;
                }
                .ques-option-text{
                  line-height: 26px;
                  font-size: 14px;
                  color: $sub-cl;
                  margin-left: 35px;
                  img {
                    max-width: 100%;
                    display: block;
                  }
                }
                .option-text-a{
                  color: $black-cl;
                }
              }
            }
            //解析
            .analysis-wrap {
              .analysis-cont {
                float: right;
                width: 758px;
                border-top: 1px solid $light-gray;
                padding-top: 20px;
                margin-top: 10px;
                .analysis-mlr {
                  margin: 0 15px 0 36px;
                  .ana-top {
                    font-size: 14px;
                    .right-cl {
                      color: $dc762;
                    }
                    .error-cl{
                      color: $ff5d46;;
                    }
                    .ana-t-cont {
                      font-size: 12px;
                      color: $sub-cl;
                      cursor: pointer;
                      img {
                        width: 12px;
                        margin-left: 6px;
                        transition: linear .2s;

                      }
                    }
                  }
                  .analysis-text-cont{
                    font-size: 12px;
                    line-height: 18px;
                    color: $sub-cl;
                    margin-top: 20px;
                    img{
                      max-width: 100%;
                    }
                  }
                }
              }
            }
          }
        }
      }
      .answer-cont-r {
        width: 320px;
        position: relative;
        .answer-sheet-cont{
          width: 320px;
          border-radius: 10px;
          position: fixed;
          top: 176px;
          box-shadow: 0px 2px 6px 0px rgba(20,14,32,0.02);
          .cart-cont{
            padding: 21px 0 24px 0;
            margin: 0 30px;
            .cart-top{
              .cart-tit{
                margin-right: 12px;
                font-size: 14px;
                color: $black-cl;
              }
              .cart-num{
                font-size: 12px;
                color: #93999f;
              }
            }
            .answer-num-cont {
              margin: 20px 4px 0 4px;
              padding-bottom: 12px;
              border-bottom: 1px solid $light-gray;
              .answer-num-item {
                margin-left: -18px;
                li{
                  width: 36px;
                  height: 36px;
                  font-size: 16px;
                  line-height: 34px;
                  float: left;
                  text-align: center;
                  border: 1px solid $light-gray;
                  box-sizing: border-box;
                  color: #93999f;
                  border-radius: 10px;
                  margin-left: 18px;
                  margin-bottom: 18px;
                }
                .num-li-a{
                  color: #ffffff;
                  background: #9ca0a4;
                  border: 1px solid #9ca0a4;
                }
              }
            }
            .answer-sub {
              display: block;
              width: 120px;
              height: 36px;
              text-align: center;
              line-height: 36px;
              border-radius: 18px;
              font-size: 14px;
              color: #ffffff;
              margin-top: 25px;
            }
          }
        }
      }
    }
  }
  .answer-pop {
    width: 440px;
    position: absolute;
    top: 300px;
    left: 500px;
    border-radius: 10px;
    z-index: 99;
    .answer-pop-h {
      width: 440px;
      height: 182px;
      display: block;
      background-size: 100%;
      background-repeat: no-repeat;
      position: relative;
      .pop-h-cont {
        width: 400px;
        padding-top: 21px;
        padding-bottom: 8px;
        border-radius: 10px 10px 0 0;
        position: absolute;
        top: 20px;left: 20px;
        .pop-tit-cont {
          font-size: 14px;
          color: $black-cl;
          padding-left: 20px;
          margin-bottom: 15px;
          .tit-cont-name {
            margin-left: 15px;
            font-size: 12px;
            color: #93999f;
          }
        }
        .time-hint {
          padding-left: 20px;
          font-size: 12px;
          color: #93999f;
          span {
            margin-right: 20px;
          }
        }
        .total-cont {

        }
      }
    }
  }

  .ana-ul{
    padding-bottom: 0 !important;
    .total-num-ul {
      margin-left: -18px;
      li{
        width: 36px;
        height: 36px;
        text-align: center;
        border: 1px solid $light-gray;
        box-sizing: border-box;
        border-radius: 10px;
        float: left;
        margin-left: 18px;
        margin-bottom: 26px;
        position: relative;
        span{
          color: #93999f;
          font-size: 16px;
          line-height: 34px;
          text-align: center;
          display: block;
        }
        img{
          position: absolute;
          width: 18px;
          height: 18px;
          bottom: -9px;
          right: -9px;
          display: block;
        }
      }
    }
  }

  .r-total-cont {
    .total-cont {
      padding-top: 20px;
      text-align: center;
      .total-item {
        display: inline-block;
        .total-list {
          float: left;
          position: relative;
          .total-num {
            color: #1C1F21;
            font-weight: bold;
            .num-p {
              margin: 0 4px;
              font-size: 22px;
              color: $price-cl;
            }
          }
          .total-p {
            margin-top: 8px;
            font-size: 12px;
            color: #93999f;
          }
        }
        .total-list-br {
          padding-right: 18px;
          margin-right: 18px;
        }
        .total-list-br:after{
          content: '';
          width: 1px;
          height: 32px;
          background: $eee;
          position: absolute;
          top: 10px;
          right: 0px;
        }
      }
    }
  }
}