@charset "utf-8";
@import "theme";

.class-details {
  .banner-info {
    height: 288px;
    position: relative;
  }
  .banner-tit-cont {
    position: relative;
  }
  .title-box {
    width: 100%;
    text-align: center;
    color: #ffffff;
    padding-top: 46px;
    h3 {
      font-size: 30px;
    }
    p {
      font-size: 16px;
    }
    .course-statistics-box {
      display: block !important;
      margin-top: 18px;
      .course-statistics-line {
        width: 160px;
        height: 1px;
        background: rgba(255,255,255,1);
        margin: 0 auto;
      }
      .info-bar {
        margin-top: 14px;
        display: inline-block;
        li{
          color: #ffffff;
          font-size: 12px;
          float: left;
          position: relative;
          padding-right: 16px;
          margin-right: 16px;
        }
        :after{
          content: "";
          background: #ffffff;
          width: 1px;
          height: 12px;
          position: absolute;
          top: 3px;
          right: 0;
        }
        :last-child:after{
          width: 0;
        }
      }
    }
  }
  .share-action {
    position: absolute;
    top: 18px;
    right: 0;
    .collect-share{
      float: left;
      cursor: pointer;
      opacity: .7;
    }
    .collect-share:hover {
      opacity: 1;
    }
    .collect-share img{
      width: 20px;
    }
    .collect-share span {
      font-size: 12px;
      color: #ffffff;
      margin-left: 2px;
    }
    .collect-img {
      margin-right: 25px;
    }
  }
  .fixed-wrap {
    position: absolute;
    left: 0px;
    bottom: -68px;
    background: #ffffff;
    box-shadow: 0px 2px 6px 0px rgba(20,14,32,0.28);
    border-radius: 10px;
  }
  .con {
    padding: 36px 60px;
    position: relative;
  }

  .time-price {
    div{
      display: inline-block;
      vertical-align: middle;
    }
    .time-limit{
      font-size: 12px;
      padding: 0 13px;
      height: 32px;
      background: linear-gradient(10deg,rgba(255,8,103,1),rgba(255,117,4,1), rgba(125,117,4,1));
      border-radius: 15px;
      margin-right: 5px;
      .discounts-tit {
        line-height: 32px;
        color: #ffffff;
        font-size: 14px;
        margin-right: 5px;
      }
      .count-down-cont {
        span{
          display: inline-block;
        }
        .time-span {
          background: #FFFFFF;
          padding: 0 3px;
          height: 20px;
          line-height: 20px;
          font-size: 14px;
          color: #1C1F21;
          border-radius: 6px;
        }
        .time-icon {
          height: 20px;
          line-height: 20px;
          border-radius:6px;
          color: #FFFFFF;
          font-weight: bold;
          font-size:16px;
        }
      }
    }
    .ori-price {
      font-size: 32px;
      color: red;
      font-weight: bold;
    }
    .original-cost {
      font-size: 12px;
      color: #545C63;
      margin: 0 12px 0 10px;
      text-decoration: line-through;
    }
    .can-huabei {
      width: 68px;
      height: 24px;
      line-height: 24px;
      font-size: 12px;
      background:linear-gradient(70deg,rgba(159,159,245,1),rgba(24,97,211,1));
      border-radius: 11px;
      text-align: center;
      color: #FFFFFF;
      margin-right: 12px;
    }
    .coupon-cont {
      height: 24px;
      background:linear-gradient(70deg,rgba(255,89,0,1),rgba(155,168,0,1));
      border-radius: 12px;
      padding: 0 12px;
      font-size: 12px;
      line-height: 24px;
    }
  }
  .info-bar {
    margin-top: 6px;
    li{
      float: left;
      font-size: 12px;
      color: #545C63;
      padding-right: 16px;
      margin-right: 16px;
      position: relative;
    }
    :after{
      content: '';
      width: 1px;
      height: 12px;
      background: #545C63;
      position: absolute;
      top: 3px;
      right: 0;
    }
    :last-child:after{
      width: 0;
    }
  }
  .btns {
    position: absolute;
    right: 60px;
    top: 44px;
    a{
      min-width: 140px;
      padding: 16px 36px;
      box-sizing: border-box;
      line-height: 16px;
      border-radius: 24px;
      text-align: center;
      display: inline-block;
      font-size: 16px;
      margin-right: 40px;
    }
    :last-child{
      margin-right: 0;
    }
    .gobuy {
      background: $price-cl;
      color: #FFFFFF;
    }
    .addcart {
      color: $price-cl;
      background:linear-gradient(70deg,rgba(255,89,0,1),rgba(155,118,110,1));
    }
  }
  .class-details-nav {
    margin-top: 100px;
    .course-cont-item {
      margin: 0 auto;
      text-align: center;
      border-bottom: 1px solid #d9dde1;
      padding-bottom: 44px;
      position: relative;
      .course-cont-ul {
        display: inline-block;
        li{
          float: left;
          font-weight: 400;
          margin-right: 60px;
          a{
            padding: 20px 0;
            font-size: 16px;
            color: #1C1F21;
            display: block;
            border-bottom: 4px solid #FFFFFF;
          }
          .course-cont-ul-act {
            color: $theme-cl;
            border-bottom: 4px solid $theme-cl;
          }
        }
      }
      .class-er-nav-box {
        position: absolute;
        top: 21px;
        right: 0;
        .class-er-tit{
          padding: 0 10px;
          box-sizing: border-box;
          height: 24px;
          line-height: 24px;
          text-align: center;
          background-color: $theme-cl;
          font-size: 12px;
          border-radius: 4px;
        }
        .class-er-img {
          width: 160px;
          padding: 10px;
          display: none;
          position: absolute;
          top: 35px;
          left: 50%;
          margin-left: -90px;
          z-index: 3;
          border-radius: 5px;
          img{
            width: 160px;
            height: 160px;
            display: block;
          }
        }
        .class-er-img:after{
          content: '';
          border-left: 8px solid transparent;
          border-right: 8px solid transparent;
          border-bottom: 12px solid #FFFFFF;
          width: 0;
          position: absolute;
          top: -10px;
          right: 82px;
        }
      }
      .class-er-box:hover .class-er-img {
        display: block;
      }
    }
  }
  .course-details-wrap {
    margin-top: 42px;
    .course-detail-cont {
      margin: 0 auto;
      .detail-cont-l {
        width: 814px;
        .section-list{
          margin-top: 30px;
          padding-bottom: 10px;
          border-bottom: 2px solid red;
          .section-head {
            .section-img-box {
              width: 22px;
              height: 22px;
              border-radius: 50%;
              background: $theme-cl;
              float: left;
              .section-img {
                width: 14px;
                height: 12px;
                margin: 5px auto;
                display: block;
              }
            }
            .section-text {
              margin-left: 36px;
              .section-tit {
                font-size: 14px;
                line-height: 22px;
                font-weight: 400;
                color: #07111B;
                margin-bottom: 2px;
              }
              .section-intro {
                font-size: 12px;
                color: #1C1F21;
                line-height: 22px;
                max-height: 44px;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-box-orient:vertical;
                -webkit-line-clamp:2;
              }
              .section-intro:hover {
                max-height: initial;
                overflow: initial;
                display: block;
              }
            }
          }
          .course-section-item {
            border-top: 1px solid green;
            margin-top: 15px;
            .multistage-video{
              padding: 16px 0 16px 0;
              position: relative;
              .video-icon {
                width: 18px;
                height: 18px;
                background: none;
                border-radius: 50%;
                border: 2px solid #93999f;
                margin-right: 10px;
                img{
                  width: 6px;
                  height: 8px;
                  margin: 5px 0 5px 7px;
                }
              }
              .knob-icon-box {
                box-sizing: border-box;
              }
              .title_info {
                max-width: 680px;
                line-height: 18px;
              }
            }
            .multistage-video:after {
              content: '';
              width: 782px;
              background: #d9dde1;
              position: absolute;
              bottom: 0;
              left: 32px;
              height: 4px;
              transform: scale(1, 0.2);
            }
            li a {
              font-size: 14px;
              color: #1C1F21;
              display: block;
              padding: 12px 0 12px 12px;
              position: relative;
              .video-icon{
                width: 18px;
                height: 18px;
                background: #93999f;
                border-radius: 50%;
                margin-right: 10px;
                img{
                  width: 6px;
                  height: 8px;
                  margin: 5px 0 5px 7px;
                }
              }
              .title_info {
                max-width: 680px;
                line-height: 18px;
              }
              .v-list-r {
                height: 100%;
                position: absolute;
                top: 0;
                right: 16px;
                .v-list-r-box {
                  height: 100%;
                  display: flex;
                  align-items: center;
                  span{
                    color: #93999f;
                    font-size: 14px;
                    line-height: 18px;
                  }
                  .video-list-icon{
                    width: 16px;
                    height: 16px;
                    border: 2px solid #d9dde1;
                    box-sizing: border-box;
                    border-radius: 50%;
                    margin-left: 14px;
                    background: none;
                  }
                  .watch-free{
                    color: #81d8d0 !important;
                    font-size: 12px !important;
                    padding: 0 12px;
                    background: #eefdfc;
                    height: 24px;
                    line-height: 24px !important;
                    border-radius: 12px;
                    cursor: pointer;
                  }
                }
              }
            }
          }
        }
        .section-list:first-child{
          margin-top: 0;
        }

        .data-download-wrap {
          margin-left: 15%;
          .data-download-list{
            border-bottom: 1px solid #d9dde1;
            padding-bottom: 30px;
            margin-bottom: 30px;
            .material-type {
              color: #FFFFFF;
              background: #9199a1;
              border-radius: 10px;
              font-size: 12px;
              height: 20px;
              line-height: 20px;
              padding: 0 10px;
            }
            .material-tit {
              font-size: 16px;
              color: #07111B;
              max-width: 500px;
              height: 20px;
              line-height: 20px;
              margin-left: 12px;
              margin-right: 20px;
            }
            .material-info {
              font-size: 12px;
              line-height: 20px;
              height: 20px;
              color: #93999f;
            }
            .material-info span:first-child {
              margin-right: 20px;
            }
            .download-but {
              width: 20px;
              height: 20pt;
              margin-right: 20px;
              background-image: url("../images/c-xiazai.png");
              background-repeat: no-repeat;
              float: right;
              cursor: pointer;
            }
          }
          .data-download-list:hover{
            .download-but{
              background-image: url("../images/c-xiazai-b.png");
            }
            .material-type{
              background: $theme-cl;
            }
            .material-tit{
              color: $sub-theme;
            }
          }
        }

        .evaluate-wrapper {
          .evaluation-info{
            margin-bottom: 36px;
            padding-bottom: 26px;border-bottom: 1px solid #d9dde1;
            .evaluation-title{
              font-size: 16px;
              color: #1C1F21;
              line-height: 18px;
            }
            .evaluation-score{
              font-size: 32px;
              font-weight: bold;
              color: #4D555D;
              margin: 0 18px;
            }
            .grade-ul li{
              font-family: "Microsoft JhengHei";
              font-size: 14px;
              color: #4D555D;
              float: left;
              margin-right: 40px;
              margin-top: 8px;
            }
            .grade-ul li span{
              line-height: 24px;
              float: left;
              display: block;
            }
            .grade-ul li .grade-ul-num {
              font-weight: 400;
              margin-left: 12px;
              font-size: 24px;
              color: #ff5900;
              display: inline-block;
              vertical-align: middle;
            }
          }
          .fill-evaluation-cont {
            margin-bottom: 30px;
            padding-bottom: 60px;
            border-bottom: 1px solid #d9dde1;
            .fill-evaluatio-top {
              margin-bottom: 30px;
              .fill-evaluatio-tit{
                font-size: 16px;
                color: #07111B;
                font-weight: bold;
                margin-right: 24px;
              }
              .evaluatio-ty {
                margin-right: 30px;
                .fill-evaluatio-type {
                  font-size: 12px;
                  color: #4D555D;
                  margin-right: 12px;
                }
              }
            }
            .textarea-cont {
              .textarea-box {
                position: relative;
                .textarea {
                  width: 814px;
                  height: 148px;
                  font-size: 14px;
                  color: #ff7504;
                  padding: 16px;
                  outline: none;
                  background: #F8FCFC;
                  box-sizing: border-box;
                  border-radius: 10px;
                }
                .text-count {
                  background: #FFFFFF;
                  position: absolute;
                  right: 20px;
                  bottom: 15px;
                  display: block;
                  font-size: 12px;
                  color: #ff7504;
                }
              }
              .but-cont {
                margin-top: 15px;
                .errors-but {
                  display: block;
                  float: left;
                  line-height: 16px;
                  font-size: 12px;
                  color: #545C63;
                  .checkbox[type=checkbox] +s {
                    width: 14px;
                    height: 14px;
                    display: inline-block;
                    background-image: url("../images/inp-check.png");
                    background-repeat: no-repeat;
                    background-size: 100%;
                  }
                  .checkbox[type=checkbox]:checked +s {
                    background-image: url("../images/inp-check-a.png");
                  }
                }
                .sub-but {
                  display: block;
                  float: right;
                  padding: 13px 46px;
                  border-radius: 20px;
                  line-height: 14px;
                  outline: none;
                  color: #FFFFFF;
                  border: none !important;
                  font-size: 14px;
                  cursor: pointer;
                  background-color: #3CD0C3;
                }
              }
            }
          }

          .evaluation-item {
            .evaluation-item-tit {
              font-size: 16px;
              font-weight: bold;
              color: #707B89;
              margin-bottom: 32px;
            }
            .evaluation-list {
              position: relative;
              margin-bottom: 35px;
              .evaluate-user-img{
                width: 44px;
                height: 44px;
                background: #9ca0a4;
                border-radius: 50%;
                position: absolute;
                left: 0;
                top: 0;
              }
              .evaluate-user-img img{
                width: 100%;
                height: 100%;
                display: block;
                border-radius: 50%;
              }
              .evaluation-list-r {
                margin-left: 66px;
                padding-left: 0;
                padding-bottom: 30px;
                border-bottom: 1px solid #d9dde1;
                .u-evaluation-info {
                  float: left;
                  margin-bottom: 16px;
                  .evaluate-user-name {
                    font-size: 16px;
                    margin-right: 30px;
                    line-height: 16px;
                    font-weight: 400;
                    color: #707B89;
                  }
                  .star-box img {
                    width: 16px;
                    display: inline-block;
                  }
                  .star-box .u-grade {
                    float: left;
                    display: block;
                    margin-left: 12px;
                  }
                }
                .evaluate-time {
                  float: right;
                  font-size: 12px;
                  line-height: 16px;
                  color: #9ba800;
                }
                .u-evaluate-text {
                  font-size: 14px;
                  color: #545C63;
                  word-wrap: break-word;
                  line-height: 24px;
                }
                .lecturer-reply-box {
                  margin-top: 16px;
                  border-radius: 12px;
                  padding: 16px 12px;
                  box-sizing: border-box;
                  background-color: #767676;
                }
                .lecturer-reply-box{
                  .lecturer-reply-tit{
                    color: #14191e;
                    font-size: 14px;
                    line-height: 20px;
                  }
                  .lecturer-reply-text {
                    font-size: 12px;
                    color: #ff7504;
                    line-height: 20px;
                  }
                }
              }
            }
          }
        }

        .update-log-wrap {
          .update-log-time {
            line-height: 20px;
            font-size: 12px;
            color: #ffeb3b;
          }
          .update-log-info {
            margin-top: 10px;
            margin-left: 20px;
            margin-bottom: 30px;
            padding-bottom: 30px;
            font-size: 14px;
            font-weight: 400;
            color: #14191e;
            border-bottom: 1px solid #d9dde1;
          }
        }
      }
      .detail-cont-r {
        .guide-cont {
          margin-bottom: 30px;padding-bottom: 34px;
          border-bottom: 1px solid #d9dde1;
          .evaluation-but-box {
            padding: 34px 34px 32px 34px;
            background: #e7e9ea;
            border-radius: 10px;
            position: relative;
            .scoreitem {
              margin-bottom: 16px;
              padding-bottom: 16px;
              border-bottom: 1px solid #787d82;
              p{
                font-family: Arial;
                font-weight: 400;
                text-align: center;
                font-size: 40px;
                line-height: 40px;
                color: #673AB7;
              }
              .graded-num-box {
                margin: 10px 0 12px 0;
                display: flex;
                display: -webkit-flex;
                align-items: center;
                -webkit-align-items: center;
                justify-content: center;
                img{
                  width: 12px;
                  height: 12px;
                  display: block;
                  float: left;
                  margin-left: 4px;
                }
                img:first-child{
                  margin-left: 0;
                }
              }
              .num {
                font-size: 12px;
                position: absolute;
                top: 16px;
                right: 16px;
              }
              .want-evaluate-but {
                display: block;
                width: 106px;
                margin: 0 auto;
                padding: 8px 0;
                font-size: 12px;
                color: #ff9900;
                text-align: center;
                line-height: 12px;
                box-sizing: border-box;
                border: 1px solid #ff5900;
                border-radius: 14px;
              }
            }
            .itemlist{
              display: flex;
              .slist{
                flex: 1;
                text-align: center;
                margin:0 21px 0 21px;
                span{
                  display: block;
                  font-size: 12px;
                  color: #FF5D46;
                  margin-bottom: 10px;
                }
                em{
                  font-size: 16px;
                  color: #ff5900;
                  font-style: initial;
                  margin-right: 5px;
                }
              }
            }
          }
          .h3{
            font-size: 16px;
            color: #07111B;
            margin-bottom: 12px;
          }
          .try-see-cont {
            width: 338px;
            height: 200px;
            border-radius: 10px;
            overflow: hidden;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            position: relative;
            .mask{
              width: 100%;
              height: 100%;
              position: absolute;
              top: 0;
              left: 0;
              background: rgba(13, 14, 14, 0.65);
              border-radius: 10px;
              z-index: 1;
            }
            .try-see-icon {
              width: 100%;
              height: 100%;
              padding-top: 64px;
              cursor: pointer;
              position: absolute;
              z-index: 2;
              img {
                width: 42px;
                height: 42px;
                background: white;
                border-radius: 50%;
                display: block;
                margin: 0 auto;
              }
              p{
                margin-top: 18px;
                text-align: center;
                font-size: 14px;
                line-height: 14px;
                color: #FFFFFF;
              }
            }
          }
          .g-lecturer-info {
            margin-bottom: 20px;
            .g-lecturer-img {
              width: 60px;
              height: 60px;
              border: 2px solid rgba(255, 255, 255, 0.7);
              box-shadow: 0px 2px 6px 0px rgba(20, 14, 32, 0.28);
              border-radius: 50%;
              margin-right: 10px;
              img{
                width: 100%;
                height: 100%;
                display: block;
                border-radius: 50%;
              }
            }
            .g-lecturer-name {
              color: #000000;
              font-size: 14px !important;
              line-height: 20px;
              letter-spacing: 2px;
              margin-bottom: 8px;
              max-width: 240px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
            .g-lecturer-type {
              line-height: 12px;
              font-size: 12px;
              color: #4D555D;
            }
          }
          .guide-cont-text {
            font-size: 12px;
            color: #545C63;
            line-height: 22px;
          }
        }
      }
    }
    .course-des-box {
      margin-bottom: 48px;
        .info-video {
          height: 360px;
          margin: 0 auto;
          display: flex;
          align-items: center;
          color: #FFFFFF;
          border-radius: 10px;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: top right;
          position: relative;
          .info-video-box {
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            z-index: 2;
            display: flex;
            align-items: center;
            .info-video-center {
              width: 100%;
              .info-video-l {
                float: left;
                margin: 0 0 0 60px;
                position: relative;
                box-sizing: border-box;
                min-height: 240px;
                display: flex;
                align-items: center;
                .cour-try-box {
                  cursor: pointer;
                  img{
                    width: 64px;
                    height: 64px;
                    margin: 0 auto 20px auto;
                    display: block;
                  }
                  p{
                    font-size: 14px;
                  }
                }
                .info-video-text {
                  width: 485px;
                  margin-left: 45px;
                  h2 {
                    font-size: 22px;
                    font-weight: 400;
                    line-height: 22px;
                    margin-bottom: 20px;
                  }
                  .video-text-cont {
                    max-height: 240px;
                    font-size: 14px;
                    line-height: 30px;
                    color: #FFFFFF;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 5;
                    -webkit-box-orient: vertical;
                  }
                }
              }
              .info-video-l:after{
                content: "";
                width: 1px;
                height: 100%;
                position: absolute;
                top: 0;
                right: -76px;
                background: #FFFFFF;
              }
              .info-video-r {
                float: right;
                width: 310px;
                margin: 0 60px 0 0;
                .v-lecturer-img {
                  width: 88px;
                  height: 88px;
                  border: 2px solid rgba(255, 255, 255, 0.7);
                  border-radius: 50%;
                  box-sizing: border-box;
                  img{
                    width: 100%;
                    height: 100%;
                    display: block;
                    border-radius: 50%;
                  }
                }
                .v-lecturer-d {
                  margin-left: 30px;
                  .v-lecturer-n {
                    max-width: 185px;
                    font-size: 18px;
                    margin-bottom: 8px;
                  }
                  .v-lecturer-t {
                    font-size: 12px;
                  }
                }
                .v-lecturer-info {
                  max-height: 150px;
                  font-size: 14px;
                  line-height: 30px;
                  margin-top: 30px;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  display: -webkit-box;
                  -webkit-line-clamp: 3;
                  -webkit-box-orient: vertical;
                }
              }
            }
          }
          .info-box-bac {
            width: 100%;
            height: 100%;
            background: rgba(18,223,223,0.5);
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            border-radius: 10px;
          }
        }
    }
  }
}
