@charset "utf-8";
@import "theme";

.class-details {
  .banner-info {
    height: 288px;
    position: relative;
  }
  .banner-tit-cont {
    position: relative;
  }
  .title-box {
    width: 100%;
    text-align: center;
    color: #ffffff;
    padding-top: 46px;
    h3 {
      font-size: 30px;
    }
    p {
      font-size: 16px;
    }
    .course-statistics-box {
      display: block !important;
      margin-top: 18px;
      .course-statistics-line {
        width: 160px;
        height: 1px;
        background: rgba(255,255,255,1);
        margin: 0 auto;
      }
      .info-bar {
        margin-top: 14px;
        display: inline-block;
        li{
          color: #ffffff;
          font-size: 12px;
          float: left;
          position: relative;
          padding-right: 16px;
          margin-right: 16px;
        }
        :after{
          content: "";
          background: #ffffff;
          width: 1px;
          height: 12px;
          position: absolute;
          top: 3px;
          right: 0;
        }
        :last-child:after{
          width: 0;
        }
      }
    }
  }
  .share-action {
    position: absolute;
    top: 18px;
    right: 0;
    .collect-share{
      float: left;
      cursor: pointer;
      opacity: .7;
    }
    .collect-share:hover {
      opacity: 1;
    }
    .collect-share img{
      width: 20px;
    }
    .collect-share span {
      font-size: 12px;
      color: #ffffff;
      margin-left: 2px;
    }
    .collect-img {
      margin-right: 25px;
    }
  }
  .fixed-wrap {
    position: absolute;
    left: 0px;
    bottom: -68px;
    background: #ffffff;
    box-shadow: 0px 2px 6px 0px rgba(20,14,32,0.28);
    border-radius: 10px;
  }
  .con {
    padding: 36px 60px;
    position: relative;
  }

  .time-price {
    div{
      display: inline-block;
      vertical-align: middle;
    }
    .time-limit{
      font-size: 12px;
      padding: 0 13px;
      height: 32px;
      background: linear-gradient(10deg,rgba(255,8,103,1),rgba(255,117,4,1), rgba(125,117,4,1));
      border-radius: 15px;
      margin-right: 5px;
      .discounts-tit {
        line-height: 32px;
        color: #ffffff;
        font-size: 14px;
        margin-right: 5px;
      }
      .count-down-cont {
        span{
          display: inline-block;
        }
        .time-span {
          background: #FFFFFF;
          padding: 0 3px;
          height: 20px;
          line-height: 20px;
          font-size: 14px;
          color: #1C1F21;
          border-radius: 6px;
        }
        .time-icon {
          height: 20px;
          line-height: 20px;
          border-radius:6px;
          color: #FFFFFF;
          font-weight: bold;
          font-size:16px;
        }
      }
    }
    .ori-price {
      font-size: 32px;
      color: red;
      font-weight: bold;
    }
    .original-cost {
      font-size: 12px;
      color: #545C63;
      margin: 0 12px 0 10px;
      text-decoration: line-through;
    }
    .can-huabei {
      width: 68px;
      height: 24px;
      line-height: 24px;
      font-size: 12px;
      background:linear-gradient(70deg,rgba(159,159,245,1),rgba(24,97,211,1));
      border-radius: 11px;
      text-align: center;
      color: #FFFFFF;
      margin-right: 12px;
    }
    .coupon-cont {
      height: 24px;
      background:linear-gradient(70deg,rgba(255,89,0,1),rgba(155,168,0,1));
      border-radius: 12px;
      padding: 0 12px;
      font-size: 12px;
      line-height: 24px;
    }
  }
  .info-bar {
    margin-top: 6px;
    li{
      float: left;
      font-size: 12px;
      color: #545C63;
      padding-right: 16px;
      margin-right: 16px;
      position: relative;
    }
    :after{
      content: '';
      width: 1px;
      height: 12px;
      background: #545C63;
      position: absolute;
      top: 3px;
      right: 0;
    }
    :last-child:after{
      width: 0;
    }
  }
  .btns {
    position: absolute;
    right: 60px;
    top: 44px;
    a{
      min-width: 140px;
      padding: 16px 36px;
      box-sizing: border-box;
      line-height: 16px;
      border-radius: 24px;
      text-align: center;
      display: inline-block;
      font-size: 16px;
      margin-right: 40px;
    }
    :last-child{
      margin-right: 0;
    }
    .gobuy {
      background: $price-cl;
      color: #FFFFFF;
    }
    .addcart {
      color: $price-cl;
      background:linear-gradient(70deg,rgba(255,89,0,1),rgba(155,118,110,1));
    }
  }
  .class-details-nav {
    margin-top: 100px;
    .course-cont-item {
      margin: 0 auto;
      text-align: center;
      border-bottom: 1px solid #d9dde1;
      padding-bottom: 44px;
      position: relative;
      .course-cont-ul {
        display: inline-block;
        li{
          float: left;
          font-weight: 400;
          margin-right: 60px;
          a{
            padding: 20px 0;
            font-size: 16px;
            color: #1C1F21;
            display: block;
            border-bottom: 4px solid #FFFFFF;
          }
          .course-cont-ul-act {
            color: $theme-cl;
            border-bottom: 4px solid $theme-cl;
          }
        }
      }
      .class-er-nav-box {
        position: absolute;
        top: 21px;
        right: 0;
        .class-er-tit{
          padding: 0 10px;
          box-sizing: border-box;
          height: 24px;
          line-height: 24px;
          text-align: center;
          background-color: $theme-cl;
          font-size: 12px;
          border-radius: 4px;
        }
        .class-er-img {
          width: 160px;
          padding: 10px;
          display: none;
          position: absolute;
          top: 35px;
          left: 50%;
          margin-left: -90px;
          z-index: 3;
          border-radius: 5px;
          img{
            width: 160px;
            height: 160px;
            display: block;
          }
        }
        .class-er-img:after{
          content: '';
          border-left: 8px solid transparent;
          border-right: 8px solid transparent;
          border-bottom: 12px solid #FFFFFF;
          width: 0;
          position: absolute;
          top: -10px;
          right: 82px;
        }
      }
      .class-er-box:hover .class-er-img {
        display: block;
      }
    }
  }
  .course-details-wrap {
    margin-top: 42px;
    .course-detail-cont {
      margin: 0 auto;
      .detail-cont-l {
        width: 814px;
        .section-list{
          margin-top: 30px;
          padding-bottom: 10px;
          border-bottom: 2px solid red;
          .section-head {
            .section-img-box {
              width: 22px;
              height: 22px;
              border-radius: 50%;
              background: $theme-cl;
              float: left;
              .section-img {
                width: 14px;
                height: 12px;
                margin: 5px auto;
                display: block;
              }
            }
            .section-text {
              margin-left: 36px;
              .section-tit {
                font-size: 14px;
                line-height: 22px;
                font-weight: 400;
                color: #07111B;
                margin-bottom: 2px;
              }
              .section-intro {
                font-size: 12px;
                color: #1C1F21;
                line-height: 22px;
                max-height: 44px;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-box-orient:vertical;
                -webkit-line-clamp:2;
              }
              .section-intro:hover {
                max-height: initial;
                overflow: initial;
                display: block;
              }
            }
          }
          .course-section-item {
            border-top: 1px solid green;
            margin-top: 15px;
            .multistage-video{
              padding: 16px 0 16px 0;
              position: relative;
              .video-icon {
                width: 18px;
                height: 18px;
                background: none;
                border-radius: 50%;
                border: 2px solid #93999f;
                margin-right: 10px;
                img{
                  width: 6px;
                  height: 8px;
                  margin: 5px 0 5px 7px;
                }
              }
              .knob-icon-box {
                box-sizing: border-box;
              }
              .title_info {
                max-width: 680px;
                line-height: 18px;
              }
            }
            .multistage-video:after {
              content: '';
              width: 782px;
              background: #d9dde1;
              position: absolute;
              bottom: 0;
              left: 32px;
              height: 4px;
              transform: scale(1, 0.2);
            }
            li a {
              font-size: 14px;
              color: #1C1F21;
              display: block;
              padding: 12px 0 12px 12px;
              position: relative;
              .video-icon{
                width: 18px;
                height: 18px;
                background: #93999f;
                border-radius: 50%;
                margin-right: 10px;
                img{
                  width: 6px;
                  height: 8px;
                  margin: 5px 0 5px 7px;
                }
              }
              .title_info {
                max-width: 680px;
                line-height: 18px;
              }
              .v-list-r {
                height: 100%;
                position: absolute;
                top: 0;
                right: 16px;
                .v-list-r-box {
                  height: 100%;
                  display: flex;
                  align-items: center;
                  span{
                    color: #93999f;
                    font-size: 14px;
                    line-height: 18px;
                  }
                  .video-list-icon{
                    width: 16px;
                    height: 16px;
                    border: 2px solid #d9dde1;
                    box-sizing: border-box;
                    border-radius: 50%;
                    margin-left: 14px;
                    background: none;
                  }
                  .watch-free{
                    color: #81d8d0 !important;
                    font-size: 12px !important;
                    padding: 0 12px;
                    background: #eefdfc;
                    height: 24px;
                    line-height: 24px !important;
                    border-radius: 12px;
                    cursor: pointer;
                  }
                }
              }
            }
          }
        }
        .section-list:first-child{
          margin-top: 0;
        }

        .data-download-wrap {
          margin-left: 15%;
          .data-download-list{
            border-bottom: 1px solid #d9dde1;
            padding-bottom: 30px;
            margin-bottom: 30px;
            .material-type {
              color: #FFFFFF;
              background: #9199a1;
              border-radius: 10px;
              font-size: 12px;
              height: 20px;
              line-height: 20px;
              padding: 0 10px;
            }
            .material-tit {
              font-size: 16px;
              color: #07111B;
              max-width: 500px;
              height: 20px;
              line-height: 20px;
              margin-left: 12px;
              margin-right: 20px;
            }
            .material-info {
              font-size: 12px;
              line-height: 20px;
              height: 20px;
              color: #93999f;
            }
            .material-info span:first-child {
              margin-right: 20px;
            }
            .download-but {
              width: 20px;
              height: 20pt;
              margin-right: 20px;
              background-image: url("../images/c-xiazai.png");
              background-repeat: no-repeat;
              float: right;
              cursor: pointer;
            }
          }
          .data-download-list:hover{
            .download-but{
              background-image: url("../images/c-xiazai-b.png");
            }
            .material-type{
              background: $theme-cl;
            }
            .material-tit{
              color: $sub-theme;
            }
          }
        }
      }
    }
  }
}