@charset "utf-8";
@import "theme";

.excellent-course {
  .excellent-course-banner {
    width: 100%;
    height: 220px;
    background-repeat: no-repeat;
    background-size: cover;
    .course-type-tit{
      display: flex;
      justify-content: center;
      margin-bottom: 30px;
      p{
        float: left;
        font-size: 30px;
        font-weight: bold;
        color: #FFFFFF;
        line-height: 30px;
        font-family:MicrosoftYaHei-Bold;
      }
      span{
        display: block;
        float: left;
        font-size: 22px;
        line-height: 30px;
        margin: 0 15px;
      }
    }
    .course-sub {
      font-size: 24px;
      line-height: 30px;
      color: #FFFFFF;
      p {
        float: left;
      }
      span{
        width: 15px;
        height: 24px;
        float: left;
        display: block;
      }
    }
    .course-tit-line {
      width: 6px;
      height: 6px;
      background: #ff9900;
      border-radius: 50%;
      margin: 12px 30px 0 30px;
    }
  }

  .course-nav-warper {
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0 2px 6px 0 rgba(20, 14, 32, 0.02);
  }
  .course-nav {
    margin: 0 auto;
  }
  .course-nav-cont {
    font-size: 14px;
    padding: 12px 0;
    border-bottom: 1px solid #e4a8f2;
  }
  .course-nav-cont:last-child{
    border-bottom: none;
  }
  .course-nav-tit {
    line-height: 40px;
    float: left;
    font-size: 14px;
    font-family: MicrosoftYaHei-Bold;
    color: #07111B;
    font-weight: bold;
  }
  .course-nav-item {
    margin-left: 52px;
    li{
      float: left;
      margin: 0 4px;
      position: relative;
      a {
        display: block;
        font-size: 14px;
        line-height: 40px;
        height: 40px;
        padding: 0 16px;
        text-align: center;
        color: #ff9900;
        font-weight: 400;
      }
      .more-nav-box {
        min-width: 108px;
        box-sizing: border-box;
        span{
          display: block;
          float: left;
        }
      }
      .course-nav-item-act {
        background: rgba(240, 251, 250, 1);
        color: $theme-cl;
        border-radius: 10px;
        .n-more-icon {
          background-image: url("../images/more-icon-a.png") !important;
          background-repeat: no-repeat;
          width: 10px;
          height: 6px;
          margin-left: 10px;
          margin-top: 17px;
          background-size: 100%;
        }
      }
      .n-more-sel {
        width: 100%;
        border-radius: 0 0 8px 8px;
        background: #FFFFFF;
        position: absolute;
        top: -5px;
        left: 0;
        z-index: 9;
        box-shadow:0 2px 6px 0 rgba(20,14,32,0.28);
        display: none;
        .n-more-sel-top {
          padding: 18px 0 18px 16px;
          font-size: 14px;
          line-height: 14px;
          color: $c1f21;
          cursor: pointer;
          span{
            max-width: 64%;
            display: block;
          }
          img{
            width: 10px;
            height: 6px;
            margin-top: 4px;
            margin-left: 10px;
            display: block;
          }
        }
        .select-nav-list {
          margin: 0 16px;
          border-top: 1px solid #ff7504;
          padding-top: 15px;
          a{
            display: block;
            width: 100%;
            text-align: center;
            padding: 0;
            line-height: 14px;
            height: 14px;
            margin-bottom: 18px;
            color: #93999f;
            box-sizing: border-box;
          }
          a:hover{
            color: $default-cl;
          }
          .select-nav-a {
            color: #2B99A3;
          }
        }
      }
    }
  }

  .course-list-wraper {
    margin: 0 auto;
  }
  .course-list-head {
    position: relative;
  }
  .recommend-nav {
    margin: 22px 0 28px 0;
    li{
      float: left;
      margin-right: 18px;
      a {
        display: block;
        line-height: 24px;
        height: 24px;
        padding: 0 12px;
        border-radius: 12px;
        color: #545C63;
      }
      .recommend-nav-act {
        color: #fefefe !important;
        background: #2B99A3 !important;
      }
    }
  }
  .recommend-pay-nav {
    position: absolute;
    top: 1px;
    right: 1px;
    li{
      float: left;
      a{
        padding-top: 7px;
        padding-bottom: 7px;
        display: block;
        text-align: center;
        font-size: 12px;
        line-height: 12px;
        color: #ff7504;
        border: 1px solid #ff7504;
        box-sizing: border-box;

      }
      .free-nav {
        padding-left: 18px;
        padding-right: 10px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
      }
      .recommend-pay-nav-act {
        background: #ff9900;
        color: #FFFFFF;
      }
      .excellent-nav {
        padding-left: 10px;
        padding-right: 18px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
      }
    }
  }

  .course-list-cont {
    overflow: hidden;
  }
  .moco-course-list {
    margin-left: -32px;
    float: left;
  }
  .excellent-course-list {
    width: 378px;
    overflow: hidden;
    float: left;
    margin-left: 32px;
    margin-bottom: 36px;
    position: relative;
    .course-list-img{
      width: 100%;
      height: 230px;
      display: block;
      border-radius: 15px;
    }
    .member-free {
      width: 80px;
      height: 28px;
      position: absolute;
      z-index: 9;
      border-radius: 15px 0 15px 0;
      background: #ff9900;
      line-height: 28px;
      text-align: center;
      color: #FFFFFF;
      top: 0;
      left: 0;
    }
    .course-info-container {
      margin: 0 4px;
    }
    .course-tit-cont {
      margin: 16px 0 20px 0;
    }
    .course-card-container-tit {
      display: block;
      cursor: pointer;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin: 16px 0 18px 0;
      color: #07111B;
      height: 18px;
      line-height: 18px;
    }
    .course-card-container-tit:hover{
      color: $sub-theme;
    }
    .course-list-info {
      display: flex;
      justify-content: space-between;
    }
    .course-info-text {
      line-height: 14px;
      font-size: 12px;
      color: #93999f;
      .course-rank {
        margin-right: 20px;
      }
      .lean-num {
        margin: 0 20px;
      }
      .course-stu-num {
        .people-num{
          width: 14px;
          height: 14px;
          display: block;
          float: left;
        }
        span{
          line-height: 14px;
          margin-left: 3px;
          float: left;
          display: block;
        }
      }
    }
    .operation-cont {
      color: #93999f;
      font-size: 12px;
      line-height: 14px;
      cursor: pointer;
    }
    .collect-cont {
      position: relative;
      .collect-img {
        width: 14px;
        height: 14px;
        background-image: url("../images/sc-star.png");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        margin-right: 5px;
      }
    }
    .collect-cont:hover{
      color: $default-cl;
    }
    .collect-cont-act {
      cursor: pointer;
      color: $theme-cl;
      .collect-img:hover {
        background-image: url("../images/collect-cont-hov-icon.png");
      }
    }
    .collect-line {
      width: 1px;
      height: 12px;
      background: #93999f;
      margin: 1px 12px 0 12px;
    }
    .shop-car {
      cursor: pointer;
      line-height: 14px;
    }
    .shop-car:hover{
      color: $default-cl;
    }
    .course-price-cont {
      height: 18px;
      margin-top: 12px;
    }
    .course-price {
      line-height: 18px;
      color: #6b95ff;
      font-size: 12px;
      margin-right: 10px;
    }
    .time-limit-box {
      padding: 0 5px;
      height: 18px;
      line-height: 18px;
      text-align: center;
      background:linear-gradient(75deg, rgb(224, 125, 240),rgba(255,130,18,1), rgb(50, 113, 255));
      border-radius: 4px;
      color: #FFFFFF;
      font-size: 10px;
    }
  }
}