@charset "utf-8";
@import "theme";

.wrap{
  background: $default-bac;
}

.feedback-wrap {
  .feedback-box {
    margin: 40px auto 0 auto;
    .feedback-l{
      width: 824px;
      float: left;
      .feedback-tit {
        font-size: 18px;
        color: #ff7504;
        border-bottom: 1px solid #81d8d0;
        padding-bottom: 16px;
      }
      .feedback-cont {
        margin: 0 20px;
        .feedback-type {
          margin: 22px 0 26px 0;
          .feedback-type-list{
            margin-right: 56px;
          }
          .feedback-type-list:last-child{
            margin-right: 0;
          }
          .checkbox[type=radio] + s {
            width: 14px;
            height: 14px;
            display: inline-block;
            background-image: url("../images/radio-icon.png");
            background-repeat: no-repeat;
            background-size: 100%;
          }
          .checkbox[type=radio]:checked + s {
            background-image: url("../images/radio-icon-a.png");
          }
          .gender-t {
            margin-left: 6px;
            font-size: 14px;
            color: #ff7504;
          }
        }
        .textarea-box{
          position: relative;
          textarea {
            width: 780px;
            height: 148px;
            display: block;
            padding: 10px 20px;
            border: 1pt solid #FF5D46;
            border-radius: 10px;
            outline: none;
            resize:none;
            box-sizing: border-box;
            font-size: 14px;
            color: #ff9900;
          }
          .text-num {
            position: absolute;
            right: 14px;
            bottom: 14px;
            font-size: 12px;
            color: #81d8d0;
          }
        }
        .image-upload-box {
          margin: 40px 0;
          .el-upload--picture-card{
            width: 82px;
            height: 82px;
            line-height: 84px;
          }
          .el-upload-list--picture-card .el-upload-list__item{
            width: 82px;
            height: 82px;
          }
          .image-upload-hint {
            margin-top: 20px;
            font-size: 12px;
            line-height: 24px;
          }
        }
        .contact-inp {
          width: 100%;
          height: 40px;
          border: 1px solid rgb(204, 74, 217);
          border-radius: 10px;
          box-sizing: border-box;
          outline: none;
          resize: none;
          text-indent: 20px;
          display: block;
        }
        .page-address-box {
          width: 780px;
          padding: 18px 0 20px 0;
          margin: 40px 0 32px 0;
          background: rgba(217, 208, 199, 0.95);
          border: 1px solid #ff5900;
          border-radius: 10px;
          .page-address-tit {
            margin-left: 20px;
            font-size: 14px;
            color: #93999f;
          }
          .page-address-inp {
            width: 740px;
            height: 40px;
            display: block;
            outline: none;
            text-indent: 20px;
            border: 1px solid #cc4ad9;
            border-radius: 5px;
            margin: 14px auto 0 auto;
          }
        }
        .feedback-sub-box {
          width: 100%;
          margin: 40px 0 40px 0;
          .feedback-sub-but {
            display: block;
            width: 120px;
            height: 40px;
            float: right;
            text-align: center;
            line-height: 40px;
            border-radius: 20px;
            font-size: 14px;
          }
        }
      }
    }
    .feedback-r {
      width: 358px;
      background: #f2f7f7;
      float: right;
      padding: 14px 0 46px 0;
      .common-box {
        padding-left: 16px;
        .common-tit {
          color: #ff5900;
          font-size: 18px;
          margin-bottom: 18px;
        }
        a{
          display: block;
          font-size: 14px;
          margin: 5px 0 5px 0;
          color: #e4a8f2;
        }
      }
      .common-box a:hover{
        color: $theme-cl;
      }
    }
  }
}