@charset "utf-8";
$theme-bac: #F8FCFC;
//默认字体颜色
$default-cl: #4D555D;

$theme-cl: #81D8D0;

$c1f21:#c41f1f;

$price-cl:#F01414;

$c1f21:#1C1F21;

$sub-theme:#2B99A3;

$light-gray:#D9DDE1;

$black-cl:#07111B;

// 副黑色字体色
$sub-cl:#545C63;

$option-cl:#707B89;
$dc762:#4DC762;
$ff5d46:#FF5D46;

$eee:#EEEEEE;